@model WebMVC.Models.FichaMedicoViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Configuracion";
    Layout = "_Layout";
    
}

@{
    ViewData["idEntidad"] = ViewBag.uid;
    ViewData["codEntidad"] = Entidades.FOTO_PERFIL;
    ViewData["uid"] = int.Parse(ViewBag.uid);
}
@{
    ViewData["view"] = Roles.Medico;
}

@section Styles  {
    <link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/css/intlTelInput.css">
    <style>
        .iti{
            width:100%
        }
    </style>
}


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->

        <div class="col-lg-8">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Información Personal</h3>
                    </div>

                </div>
                <form id="formFichaMedico" class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="row">
                                    <div class="col-lg-6 text-right">
                                        <div class="form-group row right">
                                            @Html.HiddenFor(m => m.personasDatos.Id);
                                            @Html.HiddenFor(m => m.personas.Id)
                                            @Html.HiddenFor(m => m.personasDatos.IdEspecialidad);
                                            @Html.HiddenFor(m => m.personasDatos.IdPrestador);
                                            @Html.HiddenFor(m => m.personasDatos.IdPuntoAtencion);
                                            @Html.Hidden("idEntidad", ViewData["idEntidad"])
                                            @Html.Hidden("codEntidad", ViewData["codEntidad"])
                                            @Html.Hidden("uid", (object)ViewBag.uid)
                                            <div class="col-lg-12 col-xl-12">
                                                <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                    @{
                                                        var img1 = (object)ViewBag.uid + ".jpg";

                                                    }
                                                    @*@Configuration["ServicesUrl"]@Model.personasDatos.RutaVirtual*@@*background-image: url(@Configuration["ServicesUrl"]@Model.rutaAvatar);*@
                                                    <div id="divAvatar" class=" dropzone accessibility-issue__headerkt-avatar__holder" style="height: 300px; width: 300px;">
                                                        <div class="form-group row mb-2" id="cargaFoto" style="display: none">
                                                            <div class="dropzone dropzone-default dropzone-brand mt-4" style="height: 100%; width: 100%" id="kt_dropzone_fotoavatar">
                                                                <div class="dropzone-msg dz-message needsclick">
                                                                    <h3 class="dropzone-msg-title">Arrastra tu foto de perfil aquí si deseas cambiarla.</h3>
                                                                    <span class="dropzone-msg-desc">Archivos seleccionados se <strong>guardarán</strong> automáticamente.</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--Imagen medico, por ahora en duro, ya que se encuentra en carpeta de prebas-->
                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Cambiar foto">
                                                        <i class="fa fa-pen"></i>

                                                    </label>
                                                    <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2" id="cargaFoto" style="display: none">

                                            <div class="col-lg-12 col-xl-12">

                                                <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                    <div class="dropzone dropzone-default dropzone-brand mt-4" id="kt_dropzone_fotoavatar">
                                                        <div class="dropzone-msg dz-message needsclick">
                                                            <h3 class="dropzone-msg-title">Arrastra tu foto de perfil aquí si deseas cambiarla.</h3>
                                                            <span class="dropzone-msg-desc">Archivos seleccionados se <strong>guardarán</strong> automáticamente.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personas.Nombre, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Apellido Paterno</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personas.ApellidoPaterno, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Apellido Materno</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personas.ApellidoMaterno, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @if (ViewBag.CodigoPais == "CO" || ViewBag.HostURL.ToString().Contains("gallagher.") || ViewBag.HostURL.ToString().Contains("ajg.medismart.") || ViewBag.HostURL.ToString().Contains("rappi.") || ViewBag.HostURL.ToString().Contains("aecsa.") || ViewBag.HostURL.ToString().Contains("bonnahealth."))
                                        {
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">CC</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personas.Identificador, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                            <div class="form-group row mb-2">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Rut</label>
                                                <div class="col-lg-8 col-xl-8">
                                                    @Html.TextBoxFor(m => m.personas.Identificador, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha Nacimiento</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                                    @Html.TextBoxFor(m => m.personas.FNacimiento, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "text"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Género</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.DropDownListFor(m => m.personas.Genero, Model.personas.ObtenerSexo(), new { @class = "form-control m-input", style = "text-transform: uppercase", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Nacionalidad</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.Hidden("personas.Nacionalidad", Model.personas.Nacionalidad)
                                                @Html.TextBoxFor(m => m.personas.Nacionalidad, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Zona Horaria</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.DropDownListFor(m => m.personas.ZonaHoraria, Model.personas.ZonasHorarias(), new { @class = "form-control m-input", style = "text-transform: uppercase"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4 pt-3">
                                    <div class="col-lg-6">
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Título Profesional</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personasDatos.TituloMedicoDetalle, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Prefijo Profesión</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personasDatos.PrefijoDetalle, new { @class = "form-control", @disabled = "disabled" })
                                            </div>

                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Especialidades</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personasDatos.Especialidad, new { @class = "form-control", @disabled = "disabled" })
                                                @*@Html.DropDownListFor(model => model.personasDatos.IdEspecialidad, Enumerable.ToList(Model.especialidades).Select(x => new SelectListItem { Text = x.Nombre.ToString(), Value = x.Id.ToString() }), new { @class = "form-control", @disabled = "disabled" })*@
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Número de Registro</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personasDatos.NumeroRegistro, new { @class = "form-control", @disabled = "disabled" })
                                            </div>

                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Fecha de Registro</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                                    @Html.TextBoxFor(m => m.personasDatos.FechaRegistroMedico, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "text", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Alma Mater</label>
                                            <div class="col-lg-8 col-xl-8">
                                                @Html.TextBoxFor(m => m.personasDatos.AlmaMater, new { @class = "form-control", @disabled = "disabled" })
                                            </div>

                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-4 col-lg-3 col-form-label">Año Graduación</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                                    @Html.TextBoxFor(m => m.personasDatos.FechaGraduacion, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "text", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-4 col-lg-3 col-form-label text-right"><i class="flaticon-doc" style="font-size: 1.5rem;"></i></label>
                                            <button type="button" id="certificadoPDF" class="col-xl-6 text-left col-lg-3 col-form-label btn btn-font-hover-success font-weight-bold">Ver Certificado Registro</button>
                                        </div>
                                        <div class="row">
                                            <label class="col-xl-4 col-lg-3 col-form-label text-right"><i class="flaticon-doc" style="font-size: 1.5rem;"></i></label>
                                            <button type="button" id="certificaciones" class="col-xl-6 text-left col-lg-3 col-form-label btn btn-font-hover-success font-weight-bold">Ver Certificaciones Profesional</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Teléfono móvil</label>
                                            <div class="col-lg-9 col-xl-8">
                                                @Html.TextBoxFor(m => m.personas.Telefono, new { @class = "form-control", required = "required"})
                                            </div>

                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    @*<div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>*@
                                                    @Html.TextBoxFor(m => m.personas.Correo, new { @class = "form-control", @type = "text", required = "required", maxlength = "100" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label pb-0" style="line-height: 1!important;">Duración de Atención</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    @*<div class="input-group-append"><span class="input-group-text"><i class="fa fa-clock"></i></span></div>*@
                                                    @Html.TextBoxFor(m => m.personasDatos.DuracionAtencionDetalle, new { @class = "form-control", @disabled = "disabled" })
                                                    @*@Html.DropDownListFor(model => model.personasDatos.DuracionAtencion, Enumerable.ToList(Model.personasDatos).Select(x => new SelectListItem { Text = x.Nombre.ToString(), Value = x.Id.ToString() }), new { @class = "form-control", @disabled = "disabled" })*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label pb-0">Valor Tarifa</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-dollar-sign"></i></span></div>
                                                    @Html.TextBoxFor(m => m.personasDatos.ValorAtencion, new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Redes Sociales</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    @*<div class="input-group-append"><span class="input-group-text"><i class="socicon-sharethis"></i></span></div>*@
                                                    @Html.TextAreaFor(m => m.personasDatos.RedesSociales, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Biografía</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                    @*<div class="input-group-append"><span class="input-group-text"><i class="fab fa-readme"></i></span></div>*@
                                                    @Html.TextAreaFor(m => m.personasDatos.InfoPersona1, new { @class = "form-control", @rows = "3" })
                                                    @*@Html.DropDownListFor(model => model.personasDatos.DuracionAtencion, Enumerable.ToList(Model.personasDatos).Select(x => new SelectListItem { Text = x.Nombre.ToString(), Value = x.Id.ToString() }), new { @class = "form-control", @disabled = "disabled" })*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-xl-3 col-lg-3 col-form-label">Firma Digital</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group">
                                                   
                                                    @if (Model.personasDatos.FirmaMedico == null)
                                                    {
                                                    <label class="col-xl-12 col-lg-12 col-form-label text-left">Aún no existe firma asociada a este perfil</label>
                                                    }
                                                    else
                                                    {
                                                    <div class="kt-avatar__holder" style="background-image: url('@Configuration["ServicesUrl"]@Model.personasDatos.FirmaMedico.Replace(Convert.ToChar("\\"), '/')'); height:150px;width:400px;"></div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-9 col-lg-12 text-right">
                                    <button id="btnGuardar" type="submit" class="btn btn-success">Guardar</button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="kt_modal_3" name="kt_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-xl" role="document" style="height:800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleModal"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody" style="height:800px;overflow-y:auto;">
                        @*<embed src="~/upload/certificadoRegistro/certificado.pdf" type="application/pdf" width="100%" height="800px" />*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <partial name="~/Views/Shared/_ConfigAccount.cshtml" model="Model" view-data="ViewData" />

        </div>
    </div>

    <!--End::App-->
</div>

<!-- end:: Content -->

@section Scripts {
    <script src="~/metronic_demo7/assets/js/pages/components/extended/sweetalert2.js?rnd=@NumeroRandom.GetRandom()"></script>
    <script src="~/metronic_demo7/assets/js/pages/custom/user/profile.js?rnd=@NumeroRandom.GetRandom()"></script>
    <script src="~/js/Usuario/config.js?rnd=@NumeroRandom.GetRandom()" type="module"></script>
    <script src="~/js/Shared/archivos-FotoPerfil.js?rnd=@NumeroRandom.GetRandom()" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>

    <script type="module">
        import { init } from '../../js/Medico/config.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {

            var uid = @ViewBag.uid;

            window.uid = uid;
        })()
    </script>
}

