@model WebMVC.Models.AtencionViewModel
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Http.Extensions
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Paciente";
    Layout = "_LayoutHome";

}

@section Styles  {
    <link href="~/css/Home/index.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Medismart/main.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    @if (Context.Request.GetEncodedUrl().ToUpper().Contains("vidasecurity."))
    {
        <link href="~/css/vidasecurity/vidasecurity.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
       
    }

    @if(ViewBag.idCliente == "148"){
    <link href="~/css/colmena/colmena.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    }

}



<div class="cont-home">
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <!--Nuevo Home-->

        <div class="container container-colmena">

            <div class="row">
                <div class="col">
                    <div class="top-banner justify-content-between">
                        <h1 class="legend order-2 order-md-1">¡Hola <span class="saludo-usuario text-warning text-capitalize" id="saludoPaciente"></span>! ¿En qué te podemos ayudar?</h1>
                        <img src="~/img/doctor-circle.png" alt="image" class="rounded-circle order-1 order-md-2">
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleAtencionmg>
                    <div class="cont-card">
                        <a class="" id="btnAtencionDirectaGeneral">
                            <div class="card card-plan">
                                <div class="card-body">
                                    @*<img src="~/img/iconos/medismart.svg" alt="">*@
                                    <img src="@ViewBag.imgAtencionmg" alt="">
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoAtencionmg
                                        <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoAtencionmg</small>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">
                            @ViewBag.textoAtencionmg
                            <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoAtencionmg</small>
                        </h1>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleAtencionPed>
                    <div class="cont-card">
                        <a class="" id="btnAtencionDirectaPed">
                            <div class="card card-plan">
                                <div class="card-body">
                                    @*<img src="~/img/iconos/medismart.svg" alt="">*@
                                    <img src="@ViewBag.imgAtencionPed" alt="">
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoAtencionPed
                                        <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoAtencionPed</small>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">
                            @ViewBag.textoAtencionPed
                            <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoAtencionPed</small>
                        </h1>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleSuscripcion>
                    <div class="cont-card">
                        <a href="/Paciente/Agendar?tipo=suscripcion">
                            <div class="card card-plan">
                                @*<div class="costo"></div>*@
                                <div class="card-body">
                                    @*<img src="~/img/iconos/medismart.svg" alt="">*@

                                    <img src="@ViewBag.imgSuscripcion" alt="">
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoSuscripcion
                                        <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoSuscripcion</small>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">

                            @ViewBag.textoSuscripcion
                            <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoSuscripcion</small>
                        </h1>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleOndemand>
                    <div class="cont-card">
                        <a href="/Paciente/Agendar?tipo=medicina">
                            <div class="card">
                                <div class="card-body">
                                    @*<img src="~/img/iconos/especialista.svg" alt="">*@

                                    <img src="@ViewBag.imgOndemand" alt="">
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoOndemand
                                        <small class="d-block" style="text-transform: none; font-size: 90% ">@ViewBag.subTextoOndemand</small>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">

                            @ViewBag.textoOndemand
                            <small class="d-block" style="text-transform: none; font-size: 90% ">@ViewBag.subTextoOndemand</small>
                        </h1>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleAtencionmg>
                    <div class="cont-card">
                        <a href="/Paciente/Agendar?tipo=medicina">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pronto">
                                        Pronto
                                    </div>
                                    @*<img src="~/img/iconos/especialista.svg" alt="">*@
                                    <img src="/img/colmena/home/atencion-programada.svg" alt="">
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoOndemand
                                        <small class="d-block" style="text-transform: none; font-size: 90% ">@ViewBag.subTextoOndemand</small>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">
                            Nuevas Especialidades

                        </h1>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleVet>
                    <div class="cont-card">
                        <a href="/Paciente/Agendar?tipo=veterinaria">
                            <div class="card">
                                <div class="card-body">
                                    @*<img src="~/img/iconos/veterinario.svg" alt="">*@
                                    <img src="@ViewBag.imgVet" alt="">
                                    <span class="leyenda-card-home d-md-none">

                                        @ViewBag.textoVet
                                        <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoVet</small>

                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">

                            @ViewBag.textoVet
                            <small class="d-block" style="text-transform: none; font-size: 90%">@ViewBag.subTextoVet</small>

                        </h1>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 p-0" @ViewBag.visibleAsistenciaSalud>
                    <div class="cont-card">
                        <a href="https://enroll.medismart.live/medi-assist" target="_blank">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pronto">
                                        Pronto
                                    </div>
                                    @*<img src="@ViewBag.imgAsistenciaSalud" alt="">*@
                                    <img src="~/img/colmena/home/pronto.svg" alt="">
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoAsistenciaSalud
                                    </span>
                                </div>
                            </div>
                        </a>

                        <h1 class="fuente-accesible">

                            @ViewBag.textoAsistenciaSalud
                        </h1>
                    </div>
                </div>




                <div class="col-12 col-md-4 col-lg-3 p-0 d-none" @ViewBag.visiblePortalFarmacias>
                    <div class="cont-card">
                        <div href="javascript:void(0);" target="_blank" data-toggle="modal" data-target="#modal-medicamentos" class="card">
                            <div class="card-body">
                                @*<img src="~/img/iconos/farmacia.svg" alt="">*@
                                <img src="@ViewBag.imgPortalFarmacias" alt="">
                                <span class="leyenda-card-home d-md-none">
                                    @ViewBag.textoPortalFarmacias
                                </span>
                            </div>
                        </div>
                        <h1 class="fuente-accesible">@ViewBag.textoPortalFarmacias</h1>
                    </div>

                </div>


                <div class="col-12 col-md-2 col-lg-3 p-0 d-none" @ViewBag.visibleExamenesDomicilio>
                    <div class="cont-card">
                        <a href="https://enroll.medismart.live/pago" target="_blank">
                            <div class="card">
                                <div class="card-body">
                                    <img src="@ViewBag.imgExamenesDomicilio" alt="">
                                    @*<img src="~/img/iconos/examenes.svg" alt="">*@
                                    <span class="leyenda-card-home d-md-none">
                                        @ViewBag.textoExamenesDomicilio
                                    </span>
                                </div>
                            </div>
                        </a>
                        <h1 class="fuente-accesible">@ViewBag.textoExamenesDomicilio</h1>
                    </div>
                </div>
                <div class=" col-12 col-md-4 col-lg-3 p-0 d-none" @ViewBag.visibleOrientacionEnfermeria>
                    <div class="cont-card">
                        <div @*href="javascript:void(0);" target="_blank" data-toggle="modal" data-target="#modal-orientacion"*@ class="card">
                            <div class="card-body">
                                <div class="pronto">
                                    Pronto
                                </div>
                                <img src="@ViewBag.imgOrientacionEnfermeria" alt="">
                                <span class="leyenda-card-home d-md-none">
                                    @ViewBag.textoOrientacionEnfermeria
                                </span>
                                @*<img src="~/img/iconos/orientacion.svg" alt="">*@
                            </div>
                        </div>
                        <h1 class="fuente-accesible">@ViewBag.textoOrientacionEnfermeria</h1>
                    </div>
                </div>
                <div class="col-12 col-md-2 col-lg-3 p-0 d-none" @ViewBag.visiblePremiosBeneficios>
                    <div class="cont-card">
                        <div class="card">
                            <div class="pronto">
                                Pronto
                            </div>
                            <div class="card-body">
                                <img src="@ViewBag.imgPremiosBeneficios" alt="">
                                <span class="leyenda-card-home d-md-none">
                                    @ViewBag.textoPremiosBeneficios
                                </span>
                                @*<img src="~/img/iconos/premios.svg" alt="">*@
                            </div>
                        </div>
                        <h1 class="fuente-accesible">@ViewBag.textoPremiosBeneficios</h1>
                    </div>
                </div>
                <!--Nuevo Boton AsistenciaPrecencial-->
                <div class="col-12 col-md-2 col-lg-3 p-0 " @ViewBag.visibleAtencionPresencial>
                    <div class="cont-card">
                        <div class="card">
                            <div class="pronto">
                                Pronto
                            </div>
                            <div class="card-body">
                                <img src="@ViewBag.imgAtencionPresencial" alt="">
                                <span class="leyenda-card-home d-md-none">
                                    @ViewBag.textoAtencionPresencial
                                </span>
                                @*<img src="~/img/iconos/premios.svg" alt="">*@
                            </div>
                        </div>
                        <h1 class="fuente-accesible">@ViewBag.textoAtencionPresencial</h1>
                    </div>
                </div>


            </div>
        </div>

        <!--Nuevo Home-->
    </div>

    <div class="container" hidden id="contentAtenciones">
        <h3 class="page-subtitle" id="subtitulo">Próxima Atención</h3>
        <div id="atenciones">
            @*<div class="card-atencion">
                    <div class="label-confirma-atencion">
                        Atención Confirmada
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-auto">
                            <div class="img-pro">
                                <img src="~/img/inti.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg">
                            <div class="datos-atencion">
                                <div class="nombre-pro">
                                    <small>Dr.</small> Chuck Schuldiner <span class="segundo-apellido"> García </span>
                                </div>
                                <div class="registro-institucion">
                                    Universidad de Chile - N° 345671
                                </div>
                                <div class="especialidad">
                                    Urología
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto">
                            <div class="iconos-atencion">
                                <a href="#" class="btn-icon danger">
                                    <div class="icono">
                                        <i class="fal fa-calendar-times"></i>
                                    </div>
                                    <div class="leyenda-icono">Anular</div>
                                </a>

                                <a href="#" class="btn-icon">
                                    <div class="icono">
                                        <i class="fal fa-calendar-edit"></i>
                                    </div>
                                    <div class="leyenda-icono">Reagendar</div>
                                </a>

                                <a href="#" class="btn-icon">
                                    <div class="icono">
                                        <i class="fal fa-calendar-check"></i>
                                    </div>
                                    <div class="leyenda-icono">Confirmar</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto ml-auto p-0">
                            <div class="fecha-atencion">
                                <div class="fecha">14-01-2021</div>
                                <div class="hora">11:30</div>
                            </div>
                        </div>

                    </div>

                </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="accesible-tools d-block mt-2">
                <div class="accesible-btn">
                    <button id="increase-font">A+</button>
                    <button id="normal-font">A</button>
                    <button id="decrease-font">A-</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Medicamentos-->

<div class="modal fade" id="modal-medicamentos" tabindex="-1" role="dialog" aria-labelledby="modal-medicamentos-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title only-pc"><b>Cómo comprar los medicamentos recetados por tu doctor en </b><b style="color: red;">Pharol?</b><b> MUY FÁCIL</b></h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body only-pc">
                <div class="card-group my-4">
                    <div class="card text-center bg-transparent border-0 col-md">
                        <img src="~/img/medicamentos/Paso1.png" class="card-img" alt="...">
                        <div class="card-body cards ">
                            <div class='number'>
                                <p><b>1</b></p>
                            </div>
                            <div class='text-card'>
                                <p>Recibiras un <b>Whatsapp</b> de nuestras  <b>Ejecutivas Virtuales</b> con: Link de Compra. Medicamentos y Código de Descuento Depacho</p>
                            </div>
                        </div>
                    </div>

                    <div class="card text-center bg-transparent border-0 d-flex col-md">
                        <img src="~/img/medicamentos/Paso2.png" class="card-img" alt="...">
                        <div class="card-body cards ">
                            <div class='number'>
                                <p><b>2</b></p>
                            </div>
                            <div class='text-card'>
                                <p><b>Elige</b> en Pharol, la opción de <b>medicamentos</b> de tu preferencia. Siempre te mostraremos los más economicos</p>
                            </div>
                        </div>
                    </div>

                    <div class="card text-center bg-transparent border-0 d-flex col-md">
                        <img src="~/img/medicamentos/Paso3.png" class="card-img" alt="...">
                        <div class="card-body cards ">
                            <div class='number'>
                                <p><b>3</b></p>
                            </div>
                            <div class='text-card'>
                                <p>Incorpora tus datos personales, dirección de despacho y <b>Código de Descuento: MEDISMART</b> Luego, del pago te llegará un mail de confirmación de la compra!</p>
                            </div>
                        </div>
                    </div>

                    <div class="card text-center bg-transparent border-0 d-flex col-md">
                        <img src="~/img/medicamentos/Paso4.png" class="card-img" alt="...">
                        <div class="card-body cards ">
                            <div class='number'>
                                <p><b>4</b></p>
                            </div>
                            <div class='text-card'>
                                <p><b>Y Listo!!!<br></b> Muy pronto iremos a dejar los medicamentos<b> a tu casa!</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--end. Modal Medicamentos-->
<!--Modal Orientación-->

<div class="modal fade" id="modal-orientacion" tabindex="-1" role="dialog" aria-labelledby="modal-orientacion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title only-pc">Orientación Enfermería Telefónica</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body only-pc">

                <div class="container cont-orientacion">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center">
                            <img src="~/img/home/soporte4.svg" alt="" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h1>¿Necesitas ayuda? ¡Contáctanos!</h1>
                            <ul class="my-4 lista-orientacion">
                                <li>¿Tienes dudas respecto a tu plan de salud?</li>
                                <li>¿Quieres maximizar tus coberturas?</li>
                                <li>¡¡Habla con nuestras orientadores de salud!!</li>
                            </ul>
                            <ul class="canales-orientacion">
                                <li>
                                    <a href="tel:56948042543"
                                       target="_blank">
                                        <i class="far fa-mobile"></i> Llámanos <i class="fal fa-long-arrow-right ml-auto"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://wa.me/56948042543?text=Asistencia%20al%20Paciente%20-%20Medismart%20"
                                       target="_blank">
                                        <i class="fab fa-whatsapp"></i> Escríbenos <i class="fal fa-long-arrow-right ml-auto"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAnulacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-aviso">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cont-aviso-modal">

                    <h2>¿Vas a anular tu atención?</h2>
                    <p class="m-0">
                        Al anular tu atención perderás la hora reservada con el profesional.
                    </p>

                    <!--Aviso-->



                    <div class="cont-aviso-atencion">
                        <a href="#" class="link-aviso" id="" data-id="">

                            <div class="aviso-atencion container-fluid mt-5">
                                <div class="cont-aviso row h-100 align-items-center">
                                    <div class="col-auto cont-foto-profesional p-0 d-none d-md-block">

                                        <img id="fotoMedicoModal" alt="image" class="foto-profesional" style="height:150px;width:150px;">
                                    </div>
                                    <div class="col-12 col-md col-xl pl-0 pl-md-3 pr-0">
                                        <div class="data-atencion">
                                            <span class="header-aviso-atencion"><i class="fal fa-calendar-alt"></i> <span>Próxima Atención</span></span>
                                            <span class="nombre-profesional" id="nombreProfesionalModal"></span>
                                            <span class="titulo-profesional" id="tituloMedicoModal"></span>
                                        </div>

                                    </div>
                                    <div class="col-12 col-md col-xl pr-md-3">
                                        <div class="datos-fecha">
                                            <span class="fecha-atencion" id="fechaAtencionModal"></span>
                                            <span class="hora-atencion" id="horaAtencionModal"><span class="text-uppercase"></span></span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>

                    <!--Fin Aviso-->

                </div>

            </div>
            <div class="modal-footer footer-aviso">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                <button type="button" id="btnAnular" class="btn btn-danger btn-sm">Anular Atención</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-aviso">
        <div class="modal-content">
            <div class="modal-header modal-header-aviso">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cont-aviso-modal">

                    <h2>¿Confirmas tu atención?</h2>
                    <p class="m-0">
                        Usarás la hora agendada con  <strong id="nombreProfesionalConfirma"></strong>
                        <br />  de  <strong id="tituloMedicoConfirma"></strong>
                        en el siguiente horario:
                    </p>

                    <div class="datos-fecha" style="float: none">
                        <span class="fecha-atencion" id="fechaAtencionConfirma"></span>
                        <span class="hora-atencion text-center" id="horaAtencionConfirma"></span>
                    </div>

                </div>

            </div>
            <div class="modal-footer footer-aviso">
                @*<button type="button" id="btnReagenda" class="btn btn-secondary btn-sm" data-dismiss="modal">No, deseo reagendar</button>*@
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                <button type="button" id="btnConfirma" class="btn btn-primary btn-sm">Si, confirmo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReagendar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-aviso modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4><span id="nombreprofesional"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">

                    <div class="row">
                        <div class="col-md-12 mb-4 mb-lg-0 col-lg-12">

                            <!-- Reserva Hora -->

                            <div class="caja-reserva">
                                <div class="container-fluid">
                                    <h4>Reagendar Hora</h4>
                                    <p>
                                        Selecciona si deseas en la mañana o en la tarde
                                    </p>
                                    <hr class="mb-4" />
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-4 mb-lg -0 calendario">

                                            <!--Tags-->

                                            <div class="kt-section__content kt-section__content--solid text-center mb-4" id="btnHorario">
                                                @*<button type="button" class="btn btn-brand btn-elevate btn-pill btn-am" id="btnManana">Mañana</button>&nbsp;
                                                    <button type="button" class="btn btn-brand btn-elevate btn-pill btn-pm" id="btnTarde">Tarde</button>*@
                                            </div>

                                            <!--Tags-->
                                            <!--Date Picker-->

                                            <div class="col-lg-12" id="rowDatePicker">

                                            </div>
                                            <div class="col-lg-12 mt-5">
                                                Si no encuentras hora con el médico que seleccionaste no te preocupes, puedes anular esta hora y agendar una nueva con otro médico. Si tienes dudas no dudes en contáctarnos.
                                            </div>
                                            @*<div class="cont-datepicker" id="kt_datepicker_6">
                                                </div>*@

                                            <!--Date Picker-->
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="seleccion-horas">
                                                <div class="header-seleccion-horas" id="headerSeleccion">
                                                </div>
                                                <div class="body-seleccion-horas">
                                                    <div class="body-seleccion-horas">
                                                        <ul class="lista-horas" id="listaHoras">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Reserva Hora -->


                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer footer-aviso">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Volver</button>
                <div id="btnConf"></div>
                @*<button type="button" class="btn btn-success btn-sm" id="btnConfirmarHora">Confirmar Hora</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAtencionDirecta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-aviso">
        <div class="modal-content">
            <div class="modal-header modal-header-aviso">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cont-aviso-modal">
                    <h2>Tienes una atención en curso</h2>
                    <p class="m-0">
                        Atención con <strong id="nombreProfesionalAtencion"></strong>
                        <br /> Especialidad  <strong id="tituloMedicoAtencion"></strong>
                    </p>
                </div>

            </div>
            <div class="modal-footer footer-aviso" style="align-self:center;">
                <button type="button" id="btnAtencion" class="btn btn-primary btn-sm">Ir a la atención</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBeneficiarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-aviso">
        <div class="modal-content">
            <div class="modal-header modal-header-aviso">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cont-aviso-modal">
                    <h2>Seleccionar Beneficiario</h2>
                    <br />
                    <br />
                    <select class="form-control" id="selectBeneficiario" name="selectBeneficiario">
                        <option value="0">Seleccionar</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer footer-aviso" style="align-self:center;">
                <button type="button" id="btnAceptar" class="btn btn-primary btn-sm">Aceptar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js?rnd=@NumeroRandom.GetRandom()"></script>
    <script src="~/js/accesible.js"></script>
    <script type="module">

        import { init } from '../../js/Paciente/home.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {
        var uid = @ViewBag.uid;
            window.uid = uid;
            var visibleVet = "@ViewBag.visibleVet";
            window.visibleVet = visibleVet;
        var idCliente = @ViewBag.idCliente;
        window.idCliente = idCliente;
        })()
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
   
}

<!--end: Modal Orientación-->
