@model WebMVC.Models.AtencionViewModel

@{
    ViewBag.Title = "Medical";
    Layout = "_LayoutExterno";
    ViewData["view"] = Roles.Paciente;
    ViewData["idEntidad"] = Model.Atencion.Id;
    ViewData["codEntidad"] = Entidades.ATENCIONES;
    ViewData["uid"] = int.Parse(ViewBag.uid);

}
@section Styles  {
    <link href="~/Toasty.js-master/assets/toasty-custom-styles.css" rel="stylesheet" />
    <link href="~/Toasty.js-master/assets/prism/prism.css" rel="stylesheet" />

    <link href="~/css/Medismart/main.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <style>
        .kt-timeline-v2:before {
            content: '';
            position: absolute;
            left: 2rem;
            width: 0.214rem;
            top: 5px;
            bottom: 5px;
            height: calc(100% - 5px);
            background-color: #E7E9F5;
        }

        .swal-wide {
            width: 550px !important;
        }

        .swal-wide-edit {
            width: 750px !important;
        }
    </style>
}




<!--Sala de Espera-->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid medismart-atencion">

    <!--Begin::Dashboard 7-->
    <!--Begin::Row-->

    <div class="row">
        <div class="col-12 col-md-8 p-0 mt-3 mt-md-0">
            @Html.Hidden("uid", (object)ViewBag.uid)
            @Html.Hidden("rol", ViewData["view"])
            @Html.HiddenFor(m => m.Atencion.Id)
            @Html.HiddenFor(m => m.Atencion.InicioAtencion)
            @Html.HiddenFor(m => m.Atencion.IdCliente)
            <!-- <div class="video-container d-none">
                <div class="overlay">
                    <div class="cont-video-ui">
                        <div class="top-tools">
                            <div class="video-tools">
                                <div class="small-screen">
                                    camara-sm
                                </div>

                                <div class="tool-box">
                                    <button type="button" class="btn btn-dark btn-icon btn-circle mr-4"><i class="fal fa-expand-alt"></i></button>
                                    <button type="button" class="btn btn-dark btn-icon btn-circle float-right"><i class="fal fa-user-plus"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="message-connect">
                            <h4>Esperando conexiones...</h4>
                            @*<div class="timer-box">
                                    <div class="tiempo-atencion">
                                        <strong>01:00:23</strong>
                                        <small>Empieza tu cita</small>
                                    </div>
                                </div>*@
                        </div>

                        <div class="bot-tools">
                            <div class="video-tools">
                                <button type="button" class="btn btn-danger btn-icon btn-circle"><i class="fal fa-phone-alt"></i></button>
                                <button type="button" class="btn btn-dark btn-icon btn-circle float-right"><i class="fal fa-video-slash"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->


            <div id="videos" class="video-container" style="display:block">

                <div id="overlay" class="overlay-video text-center">

                    <!-- start. Avatar Profesional -->

                    <div class="avatar-profesional d-none">
                        <div class="img-pro">
                            <img src="" alt="" id="img-prof">
                            <span id="inicial" class=" d-none nombre-profesional"></span>
                        </div>
                        <div class="nombre-profesional" id="nombre-profesional">

                        </div>
                        <div class="especialidad" id="especialidad">

                        </div>
                    </div>

                    <!-- end. Avatar Profesional -->

                    <div class="message-connect">


                        @if (ViewData["view"].Equals(Roles.Medico))
                        {
                            <h4 id="overlay_text">Esperando al paciente...</h4>
                        }
                        else
                        {
                            <h4 id="overlay_text">Esperando al médico...</h4>
                        }
                    </div>

                    <!--
                    <button id="btnReconectar" type="button" hidden class="btn btn-success btn-lg">Reconectar</button>
                    <button id="btnMic" type="button" class="btn btn-icon btn-info btn-circle btn-lg" hidden disabled><i class="fas fa-microphone-alt" style="padding-right:unset"></i></button>
                    <button id="btnCall" type="button" style="color:red; background-color:red; border-color:red;" hidden class="btn btn-icon btn-danger btn-circle btn-lg" disabled><i class="fas fa-phone-slash" style="padding-right:unset"></i></button>
                    <button id="btnCamera" type="button" class="btn btn-icon btn-info btn-circle btn-lg" disabled><i class="fa fa-video" style="padding-right:unset"></i></button>
                        -->
                    <div class="cont-btn">
                        @*<button id="btnScreen" type="button" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-comment-medical"></i></button>*@
                        @*<button id="btnCall" type="button" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-phone-alt"></i></button>*@
                        @if (ViewData["view"].Equals(Roles.Paciente))
                        {
                            <a id="btnSalirVC" href="https://clientes.consalud.cl" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-door-open"></i></a>
                        }
                        @if (ViewData["view"].Equals(Roles.Medico))
                        {
                            <a id="btnSalirVCMedico" asp-controller="Medico" asp-action="Index" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-door-open"></i></a>
                        }


                        @*<button id="btnReconectar" type="button" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-phone-volume"></i></button>*@
                        <button id="btnMic" type="button" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-microphone-alt"></i></button>
                        <button id="btnCamera" type="button" class="btn btn-icon btn-light btn-circle btn-lg"><i class="far fa-video"></i></button>
                    </div>
                </div>
                <div id="subscriber">
                    <div id="contentVisitor" class="contentVisitor"></div>
                </div>
                <div id="publisher">
                    <div id="avatarPublisher" class="d-none"></div>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-4 order-2 order-lg-1 my-4 my-lg-0">
            <!--<div style="overflow-y: scroll; height:80vh">-->
            <div class="cont-widgets">
                <!--Begin::Portlet-->
                <div class="kt-portlet body-widgets">
                    <div id="divChat" style="display:none">
                        <div class="kt-portlet__head text-center">

                            <!--Titulo Chat-->

                            <div class="titulo-chat">
                                <div class="user-chat">
                                    <span class="nombre-profesional" id="headName"></span>
                                    <div class="status-profesional online"></div> <div class="leyenda-status">En Línea</div>
                                </div>
                            </div>


                            <!--Titulo Chat-->
                            <!--  <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Chat
                                </h3>
                            </div>-->
                        </div>
                        <div class="kt-portlet__body card-body h-100">
                            <div class="scroll scroll-pull" id="scroll" style="overflow: auto;" data-height="375" data-mobile-height="300">

                                <!-- Chat -->

                                <div class="cont-chat" id="divContChat">



                                </div>

                                <!-- end Chat -->
                                <!--begin::Messages-->
                                <div class="messages" id="divMensaje">
                                    <!--mensaje out-->
                                    @*<div class="d-flex flex-column mb-5 align-items-start">
                                            <div class="d-flex align-items-center">
                                               <div>
                                                    <span class="text-dark-75 text-primary font-weight-bold font-size-h6">Matt Pears</span>
                                                    <span class="text-muted font-size-sm ml-2">07-09-2020 20:09</span>
                                                </div>
                                            </div>
                                            <div class="mt-2 rounded p-3 bg-light-success text-dark-50 font-weight-bold font-size-lg text-left max-w-400px">Most purchased Business courses during this sale!</div>
                                        </div>*@
                                    <!--end mensaje out-->
                                    <!--mensaje in-->
                                    @*<div class="d-flex flex-column mb-5 align-items-end">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <span class="text-muted text-primary font-size-sm ml-2">07-09-2020 20:09</span>
                                                    <span class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">You</span>
                                                </div>
                                            </div>
                                            <div class="mt-2 rounded p-3 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.</div>
                                        </div>*@
                                    <!--fin mensaje in-->
                                </div>
                            </div>
                            @*<img src="~/metronic_demo7/assets/media/demo/chat.png" width="100%" />*@
                        </div>
                        <div class="kt-portlet__foot align-items-center">
                            <!--begin::Compose-->
                            <div id="txtMsj">
                                <textarea class="form-control border-0 p-0" id="mensaje" rows="2" placeholder="Escribe..."></textarea>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="mr-3 d-none">
                                    @*<a href="#" class="btn btn-clean btn-icon btn-md mr-1">
                                            <i class="flaticon2-photograph icon-lg"></i>
                                        </a>
                                        <a href="#" class="btn btn-clean btn-icon btn-md">
                                            <i class="flaticon2-photo-camera icon-lg"></i>
                                        </a>*@
                                </div>
                                <div class="d-flex align-items-center justify-content-end chat-tools mt-3">
                                    <div class="kt_chat__tools d-none">

                                        <a href="#"><i class="flaticon2-photograph"></i></a>
                                        <a href="#"><i class="flaticon2-photo-camera"></i></a>
                                    </div>

                                    <button type="button" id="btnEnviar" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply">Responder</button>
                                </div>
                            </div>
                            <!--begin::Compose-->
                        </div>
                        <!--end::Footer-->
                    </div>


                    <div id="divArchivos" style="display:none">
                        <partial name="~/Views/Shared/_ArchivosAdjuntos.cshtml" model="Model.Atencion.Archivos" view-data="ViewData" />
                    </div>
                    <div id="divHistorial" style="display:none">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Historial atenciones
                                </h3>
                            </div>
                        </div>

                        <div id="divArchivos" style="display:none">
                            <partial name="~/Views/Shared/_ArchivosAdjuntos.cshtml" model="Model.Atencion.Archivos" view-data="ViewData" />
                        </div>
                        <div id="divHistorial" style="display:none">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Historial atenciones
                                    </h3>
                                </div>
                            </div>

                            <div class="kt-portlet__body">
                                @if (Model.HistorialAtenciones.Count == 0)
                                {
                                    <div id="pnlHistorial" class="align-self-center" style="display:block">
                                        <div class="row">
                                            <div class="col-lg-12 kt-align-center">
                                                <img src="~/metronic_demo7/assets/media/sinResultado.PNG" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h5>No existen atenciones anteriores</h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="kt-timeline-v2">
                                        <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
                                            @foreach (var historialAtencion in Model.HistorialAtenciones)
                                            {
                                                <div class="kt-timeline-v2__item">
                                                    <div class="kt-timeline-v2__item-cricle" style="left:0">
                                                        <i class="fa fa-genderless kt-font-danger"></i>
                                                    </div>
                                                    @if (ViewData["view"].Equals(Roles.Medico))
                                                    {
                                                        <div class="kt-timeline-v2__item-text  kt-padding-top-5" style="padding: 0.35rem 0 0 1.6rem;">
                                                            @historialAtencion.FechaText @historialAtencion.HoraDesdeText.Substring(0, @historialAtencion.HoraDesdeText.LastIndexOf(":")) <br> Dr/a. @historialAtencion.NombreMedico<br>
                                                              @historialAtencion.DiagnosticoMedico <br>   @historialAtencion.PatologiasString<br>  @historialAtencion.IdConsultaTeledoc<br>
                                                            <a href="/Medico/InformeAtencion?idAtencion=@historialAtencion.Id" target="_blank" type="button" class="btn btn-label-brand btn-bold btn-sm">ver Informe</a>
                                                        </div>
                                                    }
                                                    else if (ViewData["view"].Equals(Roles.Paciente))
                                                    {
                                                        <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                                                            @historialAtencion.FechaText @historialAtencion.HoraDesdeText.Substring(0, @historialAtencion.HoraDesdeText.LastIndexOf(":")) con Dr/a. @historialAtencion.NombreMedico   &nbsp;  <a href="/Paciente/InformeAtencionEspera?idAtencion=@historialAtencion.Id" target="_blank" type="button" class="btn btn-label-brand btn-bold btn-sm">ver Informe</a>
                                           
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <!--Begin::Timeline 3 -->
                                <!--End::Timeline 3 -->
                            </div>
                        </div>


                    </div>


                    @if (ViewData["view"].Equals(Roles.Medico))
                    {
                        <div id="divReporte">
                            @Html.HiddenFor(m => m.Atencion.IdPaciente)
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Reporte Médico
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="mb-2">
                                    <label class="" style="font-weight:bold">NSP</label>
                                    <input type="checkbox" class="" name="nsp" id="nsp" />
                                </div>
                                <div class="mb-4" id="divNSP">
                                    <label style="font-weight:bold">Justifique NSP</label>
                                    <input class="form-control" type="text" id="DescripcionNSP" name="DescripcionNSP">
                                </div>
                                @*<label style="font-weight:bold">
                                      Motivo de Consulta
                                    </label>*@
                                <label>
                                    @*Molestia : @Model.Atencion.TriageMolestia.Detalle <br>
                                        Nivel : @Model.Atencion.TriageNivel.Detalle <br>
                                        ¿Cuánto tiempo? : @Model.Atencion.TriageTiempo.Detalle <br>*@
                                    Motivo de Consulta del paciente : <span id="triageObservacionReporte">@Model.Atencion.TriageObservacion</span><br /><br />
                                    Antecedentes Médicos : <span id="antecedentesMedicoReporte">@Model.Atencion.AntecedentesMedicos</span>
                                </label>
                                @if (Model.Atencion.SospechaCovid19)
                                {
                                    <label style="font-weight:500; color:red" class="mt-3">Paciente con sospecha COVID-19</label>
                                }
                                <hr>
                                <div class="form-group">
                                    <label style="font-weight:bold">Anamnesis/ Hipótesis diagnostica</label>
                                    <textarea class="form-control" rows="3" name="DiagnosticoMedico">@Model.Atencion.DiagnosticoMedico</textarea>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:bold">Diagnóstico CIE-10</label>
                                    <div class="typeahead">
                                        <input class="form-control" id="input_codigo" type="text" dir="ltr">
                                    </div>
                                    <div class="form-text text-muted">Ingrese mínimo 3 carácteres y seleccione una opción</div>
                                </div>
                                <ul id="listaEnfermedad">
                                    @foreach (Patologias patologias in Model.Atencion.Patologias)
                                    {
                                        <li data-id="@patologias.Id">@patologias.Codigo - @patologias.Nombre &nbsp;<a href="javascript:;"><i class="kt-menu__link-icon flaticon2-delete"></i></a></li>
                                    }
                                </ul>
                                <div class="form-group">
                                    <label style="font-weight:bold">Exámenes</label>
                                    <div class="typeahead">
                                        <input class="form-control" id="input_codigoExamen" type="text" dir="ltr">
                                    </div>
                                    <div class="form-text text-muted">Ingrese mínimo 3 carácteres y seleccione una opción</div>
                                </div>
                                <ul id="listaTipoExamen">
                                    @foreach (Examenes examenes in Model.Atencion.Examenes)
                                    {
                                        <li data-id="@examenes.Id">@examenes.Nombre &nbsp;<a href="javascript:;"><i class="kt-menu__link-icon flaticon2-delete"></i></a></li>
                                    }
                                </ul>
                                <div class="form-group">
                                    <label style="font-weight:bold">Otros Exámenes</label>
                                    <textarea class="form-control" rows="2" name="ExamenMedico">@Model.Atencion.ExamenMedico</textarea>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:bold">Medicamentos</label>
                                    <textarea class="form-control" rows="2" name="MedicamentosMedico">@Model.Atencion.MedicamentosMedico</textarea>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:bold">Indicaciones</label>
                                    <textarea class="form-control" rows="2" name="TratamientoMedico">@Model.Atencion.TratamientoMedico</textarea>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:bold">Certificado Médico</label>
                                    <textarea class="form-control" rows="2" name="CertificadoMedico">@Model.Atencion.CertificadoMedico</textarea>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight:bold">Control</label>
                                    <textarea class="form-control" rows="2" name="ControlMedico">@Model.Atencion.ControlMedico</textarea>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--End::Portlet-->
            </div>
        </div>


        <div class="col-12 order-1 order-md-2">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="cont-btn-vc">
                            <button id="reload" class="btn-atencion" type="button" title="Recargar Atención"><i class="fal fa-sync"></i> <span>Recargar Atención</span></button>

                            @if (ViewData["view"].Equals(Roles.Medico))
                            {
                                <button class="btn-atencion" type="button" title="Invitar Contactos" id="btnInvitar" hidden><i class="fal fa-user-plus"></i> <span>Invitar Contactos</span></button>
                                <button id="panel_reporte" type="button" class="btn-atencion mt-3 mt-lg-0"><i class="fal fa-file-alt"></i> <span>Reporte Médico</span></button>
                                <button id="btnGuardar" type="button" class="btn-atencion mt-3 mt-lg-0"><i class="fal fa-eye"></i> <span>Previsualizar</span></button>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="cont-btn-panel">
                            <button id="panel_archivos" class="btn-atencion" type="button" title="Adjuntos"><i class="fal fa-paperclip"></i> <span>Adjuntos</span></button>
                            <button id="panel_historial" class="btn-atencion" type="button" title="Historial"><i class="fal fa-history"></i> <span>Historial</span></button>
                            <button id="panel_chat" href="javascript:void(0)" class="btn-atencion btn-chat ml-auto" type="button" title="Chat"><i class="fal fa-comments"></i> <span>Chat</span> </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-videollamada d-none">

                <a id="panel_chat" href="javascript:void(0)" type="button" class="btn btn-label-brand btn-bold btn-sm d-none d-lg-inline-block">Chat</a>


                <!--<a id="panel_archivos" href="javascript:void(0)" type="button" class="btn btn-success"><i class="flaticon2-file"></i>Archivos adjuntos</a>-->

                <button id="panel_archivos" type="button" class="btn btn-outline-hover-primary d-none d-md-block btn-sm"><i class="fal fa-file-alt"></i> Archivos adjuntos</button>


                <!--<a id="panel_historial" href="javascript:void(0)" type="button" class="btn btn-success"><i class="flaticon2-search"></i>Historial de atenciones</a>-->

                <button id="panel_historial" type="button" class="btn btn-outline-hover-primary btn-sm d-none d-md-block"><i class="fal fa-history"></i> Historial de Atenciones</button>

                @if (ViewData["view"].Equals(Roles.Medico))
                {

                    <!--<a id="panel_reporte" href="javascript:void(0)" type="button" class="btn btn-success"><i class="flaticon2-edit"></i>Reporte Médico</a>-->
                    <button id="panel_reporte" type="button" class="btn btn-outline-hover-primary btn-sm"><i class="fal fa-file-alt"></i> Reporte Médico</button>

                }

                <!--<button id="reload" type="button" class="btn btn-dark"><i class="flaticon2-refresh"></i>Volver a cargar</button>-->
                <button id="reload" type="button" class="btn btn-outline-hover-primary btn-sm"><i class="fal fa-sync"></i>Recargar</button>

                @if (ViewData["view"].Equals(Roles.Medico))
                {
                    @*<button id="btnGuardar" type="button" class="btn btn-warning">Guardar</button>*@
                    <button id="btnGuardar" type="button" class="btn btn-brand">Previsualizar</button>
                }
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="headName2" />






@section Scripts {
    <link href="~/Toasty.js-master/dist/toasty.css" rel="stylesheet" />
    <script src="~/Toasty.js-master/dist/toasty.js"></script>
    <script src="~/Toasty.js-master/assets/prism/prism.js"></script>
    @*<script src="~/Toasty.js-master/assets/main.js"></script>*@

    <script src="~/metronic_demo7/assets/js/pages/components/extended/toastr.js"></script>
    <script src="~/opentok/opentok.min.js"></script>

    <script src="~/signal/signalr.min.js"></script>
    <script src="~/js/Shared/atencionEspera.js?rnd=@NumeroRandom.GetRandom()" type="module"></script>
    <script src="~/js/Shared/archivos-adjuntos.js?rnd=@NumeroRandom.GetRandom()" type="module"></script>
    <script src="~/js/Shared/chat.js?rnd=@NumeroRandom.GetRandom()" type="module"></script>
    <script type="module">
        import { init } from '../../js/Paciente/atencionEspera.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {
            var uid = @ViewBag.uid;
            window.uid = uid;
            var canal = '@ViewBag.canal';
            window.canal = canal;
        })()
    </script>

    <script>
        // Warning before leaving the page (back button, or outgoinglink)
        window.onbeforeunload = function () {
            return "Seguro que quieres dejar la página, estas en medio de una atención?";
            //if we return nothing here (just calling return;) then there will be no pop-up question at all
            //return;
        };
    </script>
    <!--<script src="~/js/sala.js"></script>--><!-- script sala -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
}

