@model WebMVC.Models.AtencionViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Paciente";
    Layout = "_LayoutPaciente";
    var codigoTelefono = ViewBag.codigoTelefono;
}


@section Scripts {
    <script type="module">
        import { init } from '../../js/Paciente/compra-custom.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {
            console.log(@ViewBag.Mensaje);
            var uid = @ViewBag.uid;
            window.uid = uid;
            var externo = '@ViewBag.externo';
            window.externo = externo;
            var idCliente = @ViewBag.idCliente;
            window.idCliente = idCliente;
            var codigoTelefono = '@ViewBag.codigoTelefono';
            window.codigoTelefono = codigoTelefono;
            var host = '@ViewBag.HostURL';
            window.host = host;
            window.servicesUrl = '@ViewBag.servicesUrl';
            window.servicesUrlPago = '@ViewBag.servicesUrlPago';
            window.publicKey = '@ViewBag.publicKey';
            var model = @Html.Raw(Json.Serialize(Model));
            window.modelVista = model;
        })()
    </script>
}

<!-- WOW -->

<div class="wow">
    <div class="wow__title">
        <h2>
        </h2>@*
        <button class="btn btn-outline-primary">
        Descargar Boleta
        </button>*@
    </div>
    <div class="wow__container">
        <!-- Tabs -->
        <!-- Tabs -->
        <!-- Lista -->
        <div class="wow__lista_compra">
            <!-- Body Lista -->
            <div class="wow__lista-body_compra">
                <!-- Exámenes -->
                <div class="tituloCompra">
                    <img src="/img/check-circle.svg" class="imgCircleCheck" />
                    <h2 class="titleCompra">COMPRA EXITOSA</h2>
                </div>

                @if (Model.OrderAttention != null && Model.OrderAttention.Items_details.Where(x => x.Category == 1).Count() > 0)
                {
                    <div class="wow__lista-item" id="listaExamen">
                        <div class="wow__lista-item-header">
                            <div class="wow__lista-item-title">
                                Exámenes
                            </div>
                        </div>
                        <div class="wow__lista-item-body">
                            <div class="wow__subitem">
                                @foreach (var ex in Model.Examenes.Where(x => x.Id != 0))
                                {
                                    if (Convert.ToDecimal(Model.OrderAttention.Items_details.Where(x => int.Parse(x.External_product_id) == ex.Id).Select(x => x.Discount_amount).ToList().FirstOrDefault()) > 0)
                                    {
                                        <div id="examenes-list" class="wow__subitem-check">
                                            <label for="item">@ex.Nombre</label>
                                        </div>
                                        <div class="wow__subitem-price">
                                            <div class="price">
                                                $ @String.Format("{0:n0}", Convert.ToDecimal(Model.OrderAttention.Items_details.Where(x => int.Parse(x.External_product_id) == ex.Id).Select(x => x.Total_amount).ToList().FirstOrDefault())).Replace(",",".")
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }


                <!-- Exámenes -->
                <!--Medicamentos-->
                @if (Model.OrderAttention.Items_details.Where(x => x.Category == 2).Count() > 0)
                {
                    <div class="wow__lista-item" id="listaMedicamento">
                        <div class="wow__lista-item-header">
                            <div class="wow__lista-item-title">
                                Medicamentos
                            </div>
                        </div>
                        <div class="wow__lista-item-body">
                            <div class="wow__subitem">
                                @foreach (var pharmacy in Model.Farmacias.Where(x => x.pharmacyName == "Farmazon"))
                                {
                                    @foreach (var med in pharmacy.buyOrder.items)
                                    {
                                        if (Convert.ToDecimal(Model.OrderAttention.Items_details.Where(x => x.Product_id.ToString() == med.productID).Select(x => x.Total_cost).ToList().FirstOrDefault()) > 0)
                                        {
                                            <div class="wow__subitem-check">
                                                <label for=""> @med.productName</label>
                                            </div>
                                            <div class="wow__subitem-price">
                                                $ @String.Format("{0:n0}", Convert.ToDecimal(Model.OrderAttention.Items_details.Where(x => x.Product_id.ToString() == med.productID).Select(x => x.Total_amount).ToList().FirstOrDefault())).Replace(",",".")  @*Se envía el Total_amount para mostrar el valor sin descuento*@
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                <!-- Interconsultas -->
                @if (Model.OrderAttention.Items_details.Where(x => x.Category == 3).Count() > 0)
                {
                    <div class="wow__lista-item" id="listaInterconsulta">
                        <div class="wow__lista-item-header">
                            <div class="wow__lista-item-title">
                                Interconsultas
                            </div>
                        </div>
                        <div class="wow__lista-item-body">
                            @foreach (var esp in Model.AtencionWow)
                            {
                                if (Convert.ToDecimal(esp.Observaciones) > 0)
                                {
                                    <div>
                                        <div class="data-profesional">
                                            <div class="nombre">@esp.NombreMedico</div>
                                            <div class="especialidad">@esp.Especialidad</div>
                                        </div>
                                        <div class="interconsulta-horario">
                                            @esp.FechaText<p id="precio_@esp.IdMedicoHora"></p>
                                        </div>
                                    </div>
                                    <div class="wow__subitem-price-interc-compra">
                                        <div class="price" style="display: flex;">
                                            $ @String.Format("{0:n0}", Convert.ToDecimal(esp.Observaciones)).Replace(",",".")
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                <!-- Interconsultas -->
                <!-- Totales -->

                <div class="wow__totales">

                    <div class="wow__total" id="compraSubTotal">
                        <div class="wow__total-label">Subtotal</div>
                        <div class="wow__total-price">$ @String.Format("{0:n0}", Convert.ToDecimal(Model.OrderAttention.Discount_amount + Model.OrderAttention.Total_amount)).Replace(",",".")</div>
                    </div>
                    <div class="wow__total final" id="compraTotal">
                        <div class="wow__total-label">Total pagado</div>
                        <div class="wow__total-price"><small style="font-size: 28px;">$</small> @String.Format("{0:n0}", Convert.ToDecimal(Model.OrderAttention.Total_cost)).Replace(",",".")</div>
                    </div>
                </div>

                <!-- Totales -->
                <!-- Botones Domicilio -->
                @*<div class="wow__domicilio">
                <button class="btn btn-outline-primary">
                <div class="label-domicilio">
                <i class="fal fa-server"></i>
                <span class="label-despacho">
                Despacho a domicilio
                </span>
                <span class="precio precio-despacho">
                $ 1.990
                </span>
                </div>
                </button>
                <button class="btn btn-outline-primary">
                <div class="label-domicilio">
                <i class="fal fa-server"></i>
                <span class="label-despacho">
                Retiro en tienda
                </span>
                <span class="precio precio-despacho">
                $ 0
                </span>
                </div>


                </div>

                @* <div>
                <button id="volverInicio" class="btn btn-primary wow__btn-inicio">
                Ir al Inicio
                </button>
                </div>*@
                <!-- Body Lista -->
            </div>
            <!-- Lista -->
            <div class="d-flex">
                @if (codigoTelefono == "CL")
                {
                    <div class="wow__container-titulo-medico-compra">
                        <p class="tituloMedicoCompra">
                            <b>¡Buenas noticias,</b> has encontrado todo en <b>un solo lugar!</b>
                        </p>
                        <p class="textoMedicoCompra-sinimg">
                            Hemos validado tu medio de pago y te enviaremos un correo de confirmación en los próximos minutos con el detalle de tu compra.
                        </p>
                        <p class="textoMedicoCompra-sinimg-imp">IMPORTANTE:</p>
                        <p class="textoMedicoCompra">
                            @*<img src="~/img/momento-wow/check-cuadro.svg" />*@
                            Si compraste fármacos, te llegará el detalle desde nuestra farmacia FARMAZON.
                        </p>
                        <p class="textoMedicoCompra">
                            @*<img src="~/img/momento-wow/check-cuadro.svg" />*@
                            Si compraste una interconsulta, te llegará la confirmación de la hora.
                        </p>
                        <p class="textoMedicoCompra">
                            @*<img src="~/img/momento-wow/check-cuadro.svg" />*@
                            Si compraste exámenes, la boleta te llegará después de la toma de la muestra.
                        </p>
                        <p class="textoMedicoCompra-sinimg-footer">
                            Medismart.live, en salud todo lo que necesitas en un solo lugar!
                        </p>

                        <div>
                            <button id="volverInicio" class="btn btn-primary wow__btn-inicio">
                                Ir al Inicio
                            </button>
                        </div>
                    </div>

                    <div class="imgMedicoCompra">
                        <img src="~/img/momento-wow/Doc-1.png" class="imagenMedicoCompra__sm" />
                        <i class="elipseSombra"></i>
                        @*<i class="elipseColor"></i>*@
                    </div>
                }

                @*Caso mexico*@
                else if (codigoTelefono == "MX")
                {
                    <div class="wow__container-titulo-medico-compra">
                        <p class="tituloMedicoCompra">
                            <b>Felicitaciones</b>
                        </p>
                        <p class="textoMedicoCompra-sinimg">
                            Tus horas han sido agendadas en breve recibirás un correo con más detalles.
                        </p>
                        <!--<p class="textoMedicoCompra-sinimg-imp">IMPORTANTE:</p>
                        <p class="textoMedicoCompra">
                        @*<img src="~/img/momento-wow/check-cuadro.svg" />*@
                            Si compraste fármacos, te llegará el detalle desde nuestra farmacia FARMAZON.
                        </p>
                        <p class="textoMedicoCompra">
                        @*<img src="~/img/momento-wow/check-cuadro.svg" />*@
                            Si compraste una interconsulta, te llegará la confirmación de la hora.
                        </p>
                        <p class="textoMedicoCompra">
                        @*<img src="~/img/momento-wow/check-cuadro.svg" />*@
                            Si compraste exámenes, la boleta te llegará después de la toma de la muestra.
                        </p>
                        <p class="textoMedicoCompra-sinimg-footer">
                            Medismart.live, en salud todo lo que necesitas en un solo lugar!
                        </p>-->

                        <div>
                            <button id="volverInicio" class="btn btn-primary wow__btn-inicio">
                                Ir al Inicio
                            </button>
                        </div>
                    </div>

                    <div class="imgMedicoCompra">
                        <img src="~/img/momento-wow/Doc-1.png" class="imagenMedicoCompra__sm" />
                        <i class="elipseSombra"></i>
                        @*<i class="elipseColor"></i>*@
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- end: WOW -->
