@using Microsoft.AspNetCore.Http.Extensions
@model WebMVC.Models.AtencionViewModel
@{
    ViewData["Title"] = "Farmacias";
    Layout = "_LayoutPaciente";

}

@section PageStyles  {
    <link href="~/metronic_demo7/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Medismart/main.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />

}

@section Styles  {
    <link href="~/css/Home/index.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Medismart/main.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    @*@switch (ViewBag.idCliente)
        {
            case "148":
                <link href="~/css/colmena/colmena.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
                ;
                break;
            case "176":
                <link href="~/css/vidacamara/vidacamara.css" rel="stylesheet" type="text/css" />
                ;
                break;
            case "204":
                <link href="~/css/claro/claro.css" rel="stylesheet" type="text/css" />
                ;
                break;

        }*@
}



<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::App-->

    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <div class="container-fluid">
            @{

                if (ViewBag.idCliente == "108")
                {
                    <div class="row">
                        <div class="col">
                            <div class="top-banner justify-content-between">
                                <h1 class="legend order-2 order-md-1 fuente-accesible">
                                    <span class="legend-primera-frase fuente-accesible" metadata="homeHola">¡Hola,  </span>
                                    <span class="saludo-usuario text-warning text-capitalize fuente-accesible" id="saludoPaciente"></span>!
                                    <span metadata="homeHola2" class="saludo-ayuda-usuario">Tus medicamentos al mejor precio</span>
                                </h1>
                                <img src="~/img/doctor-circle.png" alt="image" class="rounded-circle order-1 order-md-2">
                            </div>
                        </div>
                    </div>
                }
                else if (ViewBag.HostURL.ToString().Contains("clinicamundoscotia."))
                {

                    <div class="top-banner_scotiabank">
                        <img src="~/img/scotiabank/home/doctora.png" alt="Doctora" class="order-1 order-md-2">
                        <h1 class="legend order-2 order-md-1 fuente-accesible">
                            <span class="legend-primera-frase fuente-accesible" metadata="homeHola">¡Hola,  </span>
                            <span class="saludo-usuario text-warning text-capitalize fuente-accesible" id="saludoPaciente"></span>!
                            <span metadata="homeHola2" class="saludo-ayuda-usuario">Tus medicamentos al mejor precio</span>
                        </h1>
                    </div>

                }
                else
                {
                    <div class="row ">
                        <div class="col">
                            <div class="top-banner justify-content-between">
                                <h1 class="legend order-2 order-md-1">¡Hola  <span class="saludo-usuario text-warning text-capitalize" id="saludoPaciente"></span>! Tus medicamentos al mejor precio</h1>
                                <img src="~/img/doctor-circle.png" alt="image" class="rounded-circle order-1 order-md-2">
                            </div>
                        </div>
                    </div>
                }



            }

            <div class="cont-farmacias ">
                <div class="row">
                    @if (ViewBag.existeHistorial == 1)
                    {
                        <div class="col-12 col-md-auto">
                            <h3 class="mb-3 titulo-seccion">Última Atención</h3>


                            <div class="card-farmacia ultima-atencion">
                                <div class="inner-card-farmacia">
                                    <div class="header-card-farmacia">

                                        <div class="fecha-atencion">
                                            <i class="fal fa-calendar-alt"></i> @ViewBag.historialAtencionesFarmacia[0].FechaCreacion.ToShortDateString()
                                        </div>
                                        <div class="nombre-profesional">@ViewBag.historialAtencionesFarmacia[0].NombrePaciente</div>


                                        <div class="especialidad">@ViewBag.historialAtencionesFarmacia[0].Especialidad</div>

                                    </div>
                                    <div class="body-card-farmacia">
                                        <h3 class="titulo-card-farmacia">
                                            Medicamentos
                                        </h3>
                                        <ul class="lista-medicamentos">
                                            @foreach (var med in @ViewBag.medicamentosAtenciones)
                                            {
                                                @if (med.Id == @ViewBag.historialAtencionesFarmacia[0].Id)
                                                {
                                                    @if (med.IsComercial == 1)
                                                    {
                                                        <li>@med.GlosaCom</li>
                                                    }
                                                    else
                                                    {
                                                        <li>@med.Glosa</li>
                                                    }
                                                }
                                            }
                                        </ul>
                                        @if (@ViewBag.historialAtencionesFarmacia[0] == null)
                                        {
                                            <h3 class="subtitulo-card-farmacia">
                                                Compra Lista
                                            </h3>
                                        }
                                        <ul class="lista-proveedores">
                                            @if (ViewBag.HostURL.ToString().Contains("segurossura."))
                                            {
                                                <li>
                                                    <div class="btn-proveedor">
                                                        <a href="https://sura.yapp.cl/?utm_source=link_Medismart&utm_medium=boton&utm_campaign=Derivacion_SURA_Medismart/" target="_blank"><img src="~/img/farmacias/logo-yapp.svg" alt="Yapp" /></a>
                                                    </div>
                                                    <div class="leyenda-proveedor">
                                                        <a href="https://sura.yapp.cl/?utm_source=link_Medismart&utm_medium=boton&utm_campaign=Derivacion_SURA_Medismart/" target="_blank">Revisa todas nuestras ofertas</a>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                @if (@ViewBag.historialAtencionesFarmacia[0].LinkYapp != null && @ViewBag.historialAtencionesFarmacia[0].LinkYapp != "error")
                                                {
                                                    <li>
                                                        <div class="btn-proveedor">
                                                            <a href="@ViewBag.historialAtencionesFarmacia[0].LinkYapp" target="_blank"><img src="~/img/farmacias/logo-yapp.svg" alt="Yapp" /></a>
                                                        </div>
                                                        <div class="leyenda-proveedor">
                                                            <a href="@ViewBag.historialAtencionesFarmacia[0].LinkYapp" target="_blank">Revisa todas nuestras ofertas</a>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            @if (@ViewBag.historialAtencionesFarmacia[0].LinkPharol != null)
                                            {
                                                <li>
                                                    <div class="btn-proveedor">
                                                        <a href="@ViewBag.historialAtencionesFarmacia[0].LinkPharol" target="_blank"><img src="~/img/farmacias/logo-pharol.svg" alt="Pharol" /></a>
                                                    </div>
                                                    <div class="leyenda-proveedor">
                                                        <a href="@ViewBag.historialAtencionesFarmacia[0].LinkPharol" target="_blank">Despacho preferente con codigo: MEDISMART</a>
                                                    </div>
                                                </li>
                                            }
                                            @if (@ViewBag.historialAtencionesFarmacia[0].LinkFarmalisto != null && @ViewBag.historialAtencionesFarmacia[0].LinkFarmalisto != "error")
                                            {
                                                <li>
                                                    <div class="btn-proveedor">
                                                        <a href="@ViewBag.historialAtencionesFarmacia[0].LinkFarmalisto" target="_blank"><img src="~/img/farmacias/logo-farmalisto.png" alt="Yapp" /></a>
                                                    </div>
                                                    <div class="leyenda-proveedor">
                                                        <a href="@ViewBag.historialAtencionesFarmacia[0].LinkFarmalisto" target="_blank">Revisa todas nuestras ofertas</a>
                                                    </div>
                                                </li>
                                            }
                                            @if (@ViewBag.historialAtencionesFarmacia[0].LinkVitau != null)
                                            {
                                                <li>
                                                    <div class="btn-proveedor">
                                                        <a href="@ViewBag.historialAtencionesFarmacia[0].LinkVitau" target="_blank"><img src="~/img/farmacias/logo-vitau.svg" alt="Vitau" /></a>
                                                    </div>
                                                    <div class="leyenda-proveedor">
                                                        <a href="@ViewBag.historialAtencionesFarmacia[0].LinkVitau" target="_blank">Revisa todas nuestras ofertas</a>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md">
                            <h3 class="mb-3 titulo-seccion">Atenciones Anteriores</h3>
                            <div class="container-fluid">
                                <div class="row">
                                    @foreach (var atencion in @ViewBag.historialAtencionesFarmacia)
                                    {
                                        @if (@ViewBag.historialAtencionesFarmacia[0].Id == atencion.Id)
                                        {
                                            continue;
                                        }
                                        <div class="col-auto">
                                            <!--Card farmacia-->
                                            <div class="card-farmacia">
                                                <div class="inner-card-farmacia">
                                                    <div class="header-card-farmacia">
                                                        <div class="fecha-atencion">
                                                            <i class="fal fa-calendar-alt"></i> @atencion.FechaCreacion.ToShortDateString()
                                                        </div>
                                                        <div class="nombre-profesional">@atencion.NombrePaciente</div>
                                                        <div class="especialidad">@atencion.Especialidad</div>
                                                    </div>
                                                    <div class="body-card-farmacia">
                                                        <h3 class="titulo-card-farmacia">
                                                            Medicamentos
                                                        </h3>
                                                        <ul class="lista-medicamentos">
                                                            @foreach (var med in @ViewBag.medicamentosAtenciones)
                                                            {
                                                                @if (med.Id == atencion.Id)
                                                                {

                                                                    @if (med.IsComercial == 1)
                                                                    {
                                                                        <li>@med.GlosaCom</li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>@med.Glosa</li>
                                                                    }
                                                                }
                                                            }
                                                        </ul>

                                                        <h3 class="subtitulo-card-farmacia">
                                                            Compra Lista
                                                        </h3>
                                                        <ul class="lista-proveedores">
                                                            @if (ViewBag.HostURL.ToString().Contains("segurossura."))
                                                            {
                                                                <li>
                                                                    <div class="btn-proveedor">
                                                                        <a href="https://sura.yapp.cl/?utm_source=link_Medismart&utm_medium=boton&utm_campaign=Derivacion_SURA_Medismart/" target="_blank"><img src="~/img/farmacias/logo-yapp.svg" alt="Yapp" /></a>
                                                                    </div>
                                                                    <div class="leyenda-proveedor">
                                                                        <a href="https://sura.yapp.cl/?utm_source=link_Medismart&utm_medium=boton&utm_campaign=Derivacion_SURA_Medismart/" target="_blank">Revisa todas nuestras ofertas</a>
                                                                    </div>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                @if (@atencion.LinkYapp != null && @atencion.LinkYapp != "error")
                                                                {
                                                                    <li>
                                                                        <div class="btn-proveedor">
                                                                            <a href="@atencion.LinkYapp" target="_blank"><img src="~/img/farmacias/logo-yapp.svg" alt="Yapp" /></a>
                                                                        </div>
                                                                        <div class="leyenda-proveedor">
                                                                            <a href="@atencion.LinkYapp" target="_blank">Revisa todas nuestras ofertas</a>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            }
                                                            @if (@atencion.LinkPharol != null)
                                                            {
                                                                <li>
                                                                    <div class="btn-proveedor">
                                                                        <a href="@atencion.LinkPharol" target="_blank"><img src="~/img/farmacias/logo-pharol.svg" alt="Pharol" /></a>
                                                                    </div>
                                                                    <div class="leyenda-proveedor">
                                                                        <a href="@atencion.LinkPharol" target="_blank">Despacho Gratis con codigo: MEDISMART</a>
                                                                    </div>
                                                                </li>
                                                            }
                                                            @if (@atencion.LinkFarmalisto != null)
                                                            {
                                                                <li class="d-none">
                                                                    <div class="btn-proveedor">
                                                                        <a href="@atencion.LinkFarmalisto" target="_blank"><img src="~/img/farmacias/logo-farmalisto.png" alt="Pharol" /></a>
                                                                    </div>
                                                                    <div class="leyenda-proveedor">
                                                                        <a href="@atencion.LinkFarmalisto" target="_blank">Despacho Gratis con codigo: MEDISMART</a>
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="col-12 col-md-auto">

                            <div class="caja-atencion mensaje-no-atencion" id="divSinAtenciones">
                                <div class="d-flex">
                                    <img src="~/img/icono-atencion.svg" alt="Icono No Atención">
                                    <h1>Aún no tienes <strong>recetas médicas asociadas a tus atenciones.</strong>  </h1>
                                </div>

                                <a href="/Paciente/Agendar" class="btn btn-primary btn-sm ml-auto">Agendar</a>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <!--End::App-->
</div>
@section Scripts{
    <script type="module">
        var farmacia = true;
        window.farmacia = farmacia;
        import { saludoPaciente } from '../js/shared/info-user.js?rnd=@NumeroRandom.GetRandom()';
        window.onload = saludoPaciente();
    </script>

}
