@using Microsoft.Extensions.Configuration
@using System.Globalization;
@using System.Security.Claims
@using WebMVC.Controllers
@model WebMVC.Models.PersonasViewModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Lista Cargas";
    Layout = "_LayoutPaciente";
}

@{
    ViewData["idEntidad"] = ViewBag.uid;
    ViewData["codEntidad"] = Entidades.FOTO_PERFIL;
    ViewData["uid"] = int.Parse(ViewBag.uid);
}

@{
    ViewData["view"] = Roles.Paciente;
}

@{
    // Carga configuración empresa para obtener la cantidad de cargas permitidas
    var host = Configuration["ServicesUrl"];
    var _layout = new LayoutController();
    var configEmpresa = await _layout.GetConfigEmpresa(host, Convert.ToInt32(ViewBag.idCliente));
}

@{
    string titulo = "Contactos";
    string textoBeneficiario = "Contacto de emergencia";
    string nuevoBeneficiario = "Crear Nuevo";
    string textoCEmergencia = "Contacto de emergencia";
    string nuevoCEmergencia = "Crear Nuevo";

}
@section Styles  {
    <link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
}




<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Top Banner-->

    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <div class="col-md-12 p-md-0">
            <div class="mensaje-mobile d-none">
                @*<span class="saludo-usuario">¡Hola  Josefa!</span> Que tengas un excelente día.*@

            </div>
            <div class="top-banner justify-content-md-between top-cargas">
                <h1 class="legend order-2 order-md-1"><span>@titulo</span> </h1>
                <img src="~/img/doctor-circle.png" alt="image" class="rounded-circle order-1 order-md-2">
            </div>
        </div>
    </div>



    <!--Cargas-->


    <div class="cont-cargas">


        
            
        <div class="container-fluid p-0">
                <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center mt-4">
                            <div class="col-md-5 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <div class="typeahead">
                                        <input class="form-control" id="input_codigo" placeholder="@titulo..." type="text" dir="ltr" autocomplete="off">
                                    </div>
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                    <div class="form-text text-muted"></div>
                                </div>
                            </div>
                            <div class="col-md-auto kt-margin-b-20-tablet-and-mobile">
                                <a href="#" class="btn btn-primary btn-elevate btn-icon-sm pull-right" id="btnBuscar">
                                    <i class="la la-search"></i>
                                    Buscar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="buscador-beneficiarios">
                            <div id="btn-agregar-contacto" hidden>
                                <a href="@Url.Action("NuevoContacto")" class="btn btn-primary btn-sm">
                                <i class="la la-plus"></i>
                                Nuevo Contacto de Emergencia
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row justify-content-start" id="listaContactoEmergencia" ></div>        


    </div>

</div>

<!-- end:: Page -->
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>


@section Scripts {
    <script type="module">
        import { init } from '../../js/Paciente/config.js?10';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {

            var uid = @ViewBag.uid;

            window.uid = uid;
             var idCliente = '@ViewBag.idCliente';
            window.idCliente = idCliente;
            var host = '@ViewBag.HostURL';
            window.host = host;
            // Cantidad de cargas permitida
            window.cantCargas = 0;
            window.admiteCEmergencia = @configEmpresa.AdmiteCEmergencia;
            window.admiteCargas = 0;
            window.cantCEmergencia = @configEmpresa.CantCEmergencia;
        })()
    </script>
    <script type="module">
        import { init } from '../../js/Paciente/verContactos.js?rnd=@NumeroRandom.GetRandom()';
        init(@Html.Raw(Json.Serialize(Model)), '@Html.Raw(Url.Action("EditBeneficiario"))',@Html.Raw(Json.Serialize(@ViewBag.idCliente)))
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  
}

