@model WebMVC.Models.AtencionViewModel
@{
    ViewBag.Title = "Medical";
    Layout = "_LayoutPaciente";
    //ViewData["view"] = Roles.Paciente;
    //ViewData["idEntidad"] = Model.Atencion.Id;
    //ViewData["codEntidad"] = Entidades.ATENCIONES;
    //ViewData["uid"] = int.Parse(ViewBag.uid);
    var nombreEmpresa = "Medismart / Juegos";
    var imgSala = "/img/fondo-sala-medismart2.jpg";
    var imgSalaMobile = "/img/sala-espera/sala-espera1.jpg";

    if (ViewBag.idCliente == "108") nombreEmpresa = "Salud Protección";

    if (ViewBag.idCliente == "330")
    {
        imgSala = "/img/clini/fondo-sala.jpg";
        imgSalaMobile = "/img/clini/fondo-sala-mobile.jpg";
    }
    else if(ViewBag.idCliente == "148") 
    {
         imgSala = "/img/fondo-sala-colmena.jpg";
        imgSalaMobile = "/img/sala-espera/sala-espera1.jpg";
    }

}
@section Styles  {
    <link href="~/css/Medismart/main.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Medismart/smartcheck.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <style>
        .kt-timeline-v2:before {
            content: '';
            position: absolute;
            left: 2rem;
            width: 0.214rem;
            top: 5px;
            bottom: 5px;
            height: calc(100% - 5px);
            background-color: #E7E9F5;
        }

        .swal-wide {
            width: 550px !important;
        }

        .swal-wide-edit {
            width: 750px !important;
        }
    </style>
}

<!-- Sala de Espera-->

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!-- Sala de espera -->
    <div class="container-fluid sala-espera d-none d-lg-block">
        <!-- Alerta Sala de Espera -->

        <div class="cont-alerta-sala cont-fila-unica">
            <div class="alerta-sala fila-unica" id="salaEsperaDesk">

                <div class="titulo-fila">
                    <i class="fal fa-clock"></i>
                    Tu Turno
                </div>

                <div class="tiempo-atencion" id="tiempo-desk">
                    <div class="dato-fila" id="horaFila-desk"></div>
                    <div class="leyenda-fila">Hora aproximada para tu  Atención</div>
                </div>
                <div class="posicion-fila">
                    <div class="dato-fila" id="posicionFila-desk"></div>
                    <div class="leyenda-fila">
                        Posición Fila
                    </div>
                </div>
            </div>
        </div>

        <!--end. Alerta Sala de Espera -->

        <div class="row">
            <div class="col-12 p-0">

                <div class="titulo-sala">
                    <small>Sala de</small>
                    Espera
                </div>
                <div class="hotspots">
                <!--<img src="~/img/fondo-sala-colmena.jpg" />-->
                <img src=@imgSala class="fondo-sala" />
                    <a href="#"
                       class="hotspot-icon d-none"
                       id="hs-a"
                       data-toggle="modal"
                       data-target="#modal-turno">
                        <div class="cont-icon">
                            <i class="fal fa-calendar-alt"></i>
                        </div>

                        Tu Turno
                    </a>

                    @if(ViewBag.idCliente == "148") {
                     <a href="https://wa.me/56948042543?text=Asistencia%20al%20Paciente%20-%20Colmena%20" target="_blank"
                       class="hotspot-icon text-center"
                       id="hs-b">
                        <div class="cont-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        Asistencia Paciente
                    </a>
                    }
                    else @if(ViewBag.idCliente == "330"){
                     <a href="https://wa.me/56948042543?text=Servicio%20al%Cliente%20" target="_blank"
                       class="hotspot-icon text-center"
                       id="hs-b">
                        <div class="cont-icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                        Asistencia Paciente
                    </a>
                    } 
                   

                    <a href="#"
                       class="hotspot-icon"
                       id="hs-f"
                       data-toggle="modal"
                       data-target="#modal-contacto">
                        <div class="cont-icon">
                            <i class="fal fa-phone-alt"></i>
                        </div>
                        Contacto
                    </a>
                    <a href="#"
                       class="hotspot-icon"
                       id="hs-c"
                       data-toggle="modal"
                       data-target="#modal-juego">
                        <div class="cont-icon">
                            <i class="fal fa-gamepad-alt"></i>
                        </div>
                        Juegos
                    </a>
                    <a href="#"
                       class="hotspot-icon"
                       id="hs-d"
                       data-toggle="modal"
                       data-target="#modal-revista">
                        <div class="cont-icon">
                            <i class="fal fa-file-alt"></i>
                        </div>
                        Revistas
                    </a>
                    <a href="#"
                       class="hotspot-icon"
                       id="hs-e"
                       data-toggle="modal"
                       data-target="#modal-videos">
                        <div class="cont-icon">
                            <i class="fal fa-play"></i>
                        </div>
                        Videos
                    </a>

                    <a href="#"
                       class="hotspot-icon"
                       id="btnAbandonarAtencion">
                        <div class="cont-icon">
                            <i class="fal fa-door-open"></i>
                        </div>
                        Salir
                    </a>

                    <a href="#"
                       class="hotspot-icon"
                       id="reporte">
                        <div class="cont-icon">
                            <i class="fal fa-file-plus"></i>
                        </div>
                        Agregar <br /> Información
                    </a>





                </div>
            </div>
        </div>

        <div class="panel-sala-espera d-none">
            <ul>
                <li id="chat" class="">
                    <a href="#">
                        <i class="fal fa-comment"></i>
                        Chat
                    </a>
                </li>
                <li id="reporte">
                    <div class="cont-icon">
                        <i class="fal fa-file-plus"></i>
                    </div>
                    <span>Agregar Información</span>
                </li>
            </ul>
        </div>

        <div class="panel-sala" id="panel">
            <div class="btn-icon" id="close-panel">
                <i class="fal fa-times"></i>
            </div>



            <div class="container-fluid caja-base caja-confirmacion-hora tabbable-line">

                <ul class="nav nav-tabs">
                    <li>
                        <a href="#tab_15_1" class="active" data-toggle="tab" aria-expanded="false">Información para el médico </a>
                    </li>
                    <li>
                        <a href="#tab_15_2" id="tab-archivos-web" data-toggle="tab" aria-expanded="true">Adjuntar Archivos </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab_15_1">
                        <!---->

                        <div class="row">
                            <div class="col-12 px-0 px-lg-2 col-lg">
                                <div class="formulario-confirma-hora">

                                    @*<i class="fal fa-check-circle"></i>*@
                                    <h4 class="mb-4">
                                        Agregar Información
                                    </h4>

                                    <div class="body-formulario">
                                        <!-- Form -->
                                        <form action="" class="container-fluid">
                                            <div class="form-group row">
                                                <div class="col-12 p-0">
                                                    <p>
                                                        Cuéntame ¿Cuál es tu molestia o necesidad de atención?
                                                    </p>
                                                    <textarea class="form-control" rows="3" placeholder="Escribe un comentario" id="triageObservacion" name="triageObservacion"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-lg-0">
                                                <div class="col-12 p-0">
                                                    <p>
                                                        Antecedentes médicos previos
                                                    </p>
                                                    <textarea class="form-control" rows="3" placeholder="Diagnósticos y medicamentos en uso" id="antecedentesMedicos" name="antecedentesMedicos"></textarea>
                                                </div>
                                            </div>



                                        </form>
                                        <!-- Form -->
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 mt-4 p-0">
                                <button class="btn btn-primary btn-block btn-sm" id="btnConfirmar">
                                    Guardar
                                </button>
                            </div>

                        </div>

                        <!---->


                    </div>
                    <div class="tab-pane fade" id="tab_15_2">
                        <div class="row">
                            <div class="col">
                                <div class="carga-archivos">
                                    <h4 class="mb-4">
                                        Adjuntar archivos
                                    </h4>
                                    <div class="cont-carga-archivos" @*d-none d-md-block*@>
                                        <div class="dropzone dropzone-default dropzone-brand" id="kt_dropzone_3">
                                            <div class="dropzone-msg dz-message needsclick">
                                                <h3 class="dropzone-msg-title">¿Deseas subir un archivo?</h3>
                                                <span class="dropzone-msg-desc">Receta, imagen o radiografía</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid p-0 mt-4">
                                        <div class="row">

                                        </div>
                                    </div>
                                    <input type="hidden" id="correoUsuario" />
                                    <input type="hidden" id="genero" />
                                    <input type="hidden" id="fechaNacimiento" />

                                    <div class="alert alert-outline-success">
                                        <div class="d-flex">
                                            <i class="fal fa-info-circle fa-2x mr-2"></i>
                                            <p class="mb-0">
                                                Los archivos que subas se guardaran automáticamente
                                            </p>
                                        </div>
                                    </div>
                                    <div id="divArchivosEspera1">
                                        <div class="kt-portlet__head">
                                            @* Traer idEntidad y codEntidad desde la view que renderiza esta view parcial. *@
                                            @Html.Hidden("idEntidad", ViewData["idEntidad"])
                                            @Html.Hidden("codEntidad", ViewData["codEntidad"])
                                            <div class="kt-portlet__head-label">

                                            </div>
                                            <div class="kt-portlet__head-toolbar d-none">
                                                <div class="dropdown dropdown-inline">
                                                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="flaticon-more-1"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <ul class="kt-nav">
                                                            <li class="kt-nav__item">
                                                                <a id="actualizar_archivos" href="javascript:void(0);" class="kt-nav__link">
                                                                    <i class="kt-nav__link-icon flaticon-refresh"></i>
                                                                    <span class="kt-nav__link-text">Actualizar</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">

                                            <div id="lista_archivos_espera" class="kt-widget4 lista-archivos">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </div>
        <div class="cont-alerta-sala" id="panelEstado" style=" z-index: 50 !important; position: relative !important; bottom: 7rem !important; top: -7rem !important;">
            <div class="alerta-sala">
                <div class="icono-alerta">

                </div>
                <p id="mensaje">

                </p>
            </div>
        </div>
    </div>
    <!-- end. Sala de espera -->
    <!-- Sala espera mobile -->
    <div class="container-fluid sala-espera-mobile-colmena d-lg-none">
        <div class="titulo-sala">
            <small>Sala de</small>
            Espera
        </div>


        <div class="alerta-sala fila-unica">

            <div class="titulo-fila">
                <i class="fal fa-clock"></i>
                Tu Turno
            </div>

            <div class="tiempo-atencion" id="tiempo-mobile">
                <div class="d-flex align-items-center">
                    <div class="dato-fila" id="horaFila-mobile"></div>
                    <div class="leyenda-fila">Hora aproximada para tu  Atención</div>
                </div>

            </div>
            <div class="posicion-fila">
                <div class="d-flex align-items-center">
                    <div class="dato-fila" id="posicionFila-mobile"></div>
                    <div class="leyenda-fila">
                        Posición Fila
                    </div>
                </div>

            </div>
        </div>


        <div class="card-sala">
            <div class="btn-sala d-none" id="chat-m">
                <div class="cont-icon">
                    <i class="fal fa-comments"></i>
                </div>
                <span>Chat</span>
            </div>
            <div class="btn-sala" id="reporte-m">
                <div class="cont-icon">
                    <i class="fal fa-file-plus"></i>
                </div>
                <span>Agregar <br /> Info</span>
            </div>


            <div class="btn-sala" id="wsp-m">
                <a href="https://wa.me/56948042543?text=Asistencia%20al%20Paciente%20-%20Colmena%20" class="cont-icon" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <span>
                    Asistencia Paciente
                </span>
            </div>

        </div>

        <div class="card-sala">
            <div class="btn-sala" id="btnAbandonarAtencionMobile">
                <div class="cont-icon">
                    <i class="fal fa-door-open"></i>
                </div>
                <span>Salir</span>
            </div>
            <div class="btn-sala d-none" data-toggle="modal" data-target="#modal-turno">
                <div class="cont-icon">
                    <i class="fal fa-calendar-alt"></i>
                </div>
                <span>Tu Turno</span>
            </div>
            <div class="btn-sala" data-toggle="modal" data-target="#modal-contacto">
                <div class="cont-icon">
                    <i class="fal fa-envelope"></i>
                </div>
                <span>Contacto</span>
            </div>
        </div>

        <div class="card-sala">
            <div class="btn-sala" data-toggle="modal" data-target="#modal-juego">
                <div class="cont-icon">
                    <i class="fal fa-gamepad-alt"></i>
                </div>
                <span>Juegos</span>
            </div>
            <div class="btn-sala" data-toggle="modal" data-target="#modal-revista">
                <div class="cont-icon">
                    <i class="fal fa-file-alt"></i>
                </div>
                <span>Revistas</span>
            </div>
            <div class="btn-sala" data-toggle="modal" data-target="#modal-videos">
                <div class="cont-icon">
                    <i class="fal fa-play"></i>
                </div>
                <span>Videos</span>
            </div>


        </div>

        <div class="alerta-sala mensaje-mobile">
            <p id="mensajeMobile"></p>
        </div>


    </div>

</div>

<!-- Mobile Panel -->

<div class="panel-sala d-lg-none" id="panel-m">
    <div class="btn-icon" id="close-panel-m">
        <i class="fal fa-times"></i>
    </div>
    <div class="container-fluid caja-base caja-confirmacion-hora tabbable-line">

        <ul class="nav nav-tabs">
            <li>
                <a href="#tab_15_3" class="active" data-toggle="tab" aria-expanded="false">Información para el médico </a>
            </li>
            <li>
                <a href="#tab_15_4" id="tab-archivos-mobile" data-toggle="tab" aria-expanded="true">Adjuntar Archivos </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_15_3">
                <!--  -->
                <div class="row">
                    <div class="col-12 px-0 px-lg-2 col-lg">
                        <div class="formulario-confirma-hora">
                            <div class="header-formulario">
                                @*<i class="fal fa-check-circle"></i>*@
                                <h4>
                                    Ingresar datos
                                </h4>
                            </div>
                            <div class="body-formulario">
                                <!-- Form -->
                                <form action="" class="container-fluid">
                                    <div class="form-group row">
                                        <div class="col-12 p-0">
                                            <p>
                                                Cuéntame ¿Cuál es tu molestia o necesidad de atención?
                                            </p>
                                            <textarea class="form-control" rows="3" placeholder="Escribe un comentario" id="triageObservacionMobile" name="triageObservacionMobile"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-lg-0">
                                        <div class="col-12 p-0">
                                            <p>
                                                Antecedentes médicos previos
                                            </p>
                                            <textarea class="form-control" rows="3" placeholder="Diagnósticos y medicamentos en uso" id="antecedentesMedicosMobile" name="antecedentesMedicosMobile"></textarea>
                                        </div>
                                    </div>



                                </form>
                                <!-- Form -->
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-12 p-0">
                    <button class="btn btn-primary btn-block btn-sm" id="btnConfirmar2">
                        Guardar
                    </button>
                </div>
                <!--  -->
            </div>
            <div class="tab-pane fade" id="tab_15_4">
                <!--  -->

                <div class="row">
                    <div class="col p-0">
                        <div class="carga-archivos mt-0">
                            <h4 class="mb-4">¿Deseas subir un archivo?</h4>

                            <div class="cont-carga-archivos" @*d-none d-md-block*@>
                                <div class="dropzone dropzone-default dropzone-brand" id="kt_dropzone_4">
                                    <div class="dropzone-msg dz-message needsclick">
                                        <h3 class="dropzone-msg-title">¿Deseas subir un archivo?</h3>
                                        <span class="dropzone-msg-desc">Receta, imagen o radiografía</span>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid p-0 mt-4">
                                <div class="row">

                                </div>
                            </div>





                            <input type="hidden" id="correoUsuario" />
                            <input type="hidden" id="genero" />
                            <input type="hidden" id="fechaNacimiento" />

                            <div class="alert alert-outline-success">
                                <div class="d-flex">
                                    <i class="fal fa-info-circle fa-2x mr-2"></i>
                                    <p>
                                        Los archivos que subas se guardaran automáticamente
                                    </p>
                                </div>
                            </div>
                            <idiv id="divArchivosEspera">
                                <div class="kt-portlet__head">
                                    @* Traer idEntidad y codEntidad desde la view que renderiza esta view parcial. *@
                                    @Html.Hidden("idEntidad", ViewData["idEntidad"])
                                    @Html.Hidden("codEntidad", ViewData["codEntidad"])
                                    <div class="kt-portlet__head-label">

                                    </div>
                                    <div class="kt-portlet__head-toolbar d-none">
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-more-1"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="kt-nav">
                                                    <li class="kt-nav__item">
                                                        <a id="actualizar_archivos" href="javascript:void(0);" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon flaticon-refresh"></i>
                                                            <span class="kt-nav__link-text">Actualizar</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div id="lista_archivos_mobile" class="kt-widget4 lista-archivos">

                                    </div>
                                </div>
                            </idiv>
                        </div>
                    </div>
                </div>

                <!--  -->
            </div>


        </div>





    </div>
</div>

<!-- end Mobile Panel -->
<!-- end. Sala espera mobile -->








<input type="hidden" id="headName2" />


<!--=============Modals=============-->
<!-- Modal Turno -->

<div class="modal fade"
     id="modal-turno"
     tabindex="-1"
     aria-labelledby="modal-turno"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Medismart Modal</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> Info turno paciente</div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary btn-sm"
                        data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Turno -->
<!-- Modal Contacto -->
<div class="modal fade"
     id="modal-contacto"
     tabindex="-1"
     aria-labelledby="modal-contacto"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Contáctanos</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-center">
                            <a href="#">
                                <i class="fab fa-whatsapp fa-3x d-block mb-3"></i>
                                +56948042543
                            </a>
                        </div>
                        <div class="col text-center">
                            <a href="#">
                                <i class="fal fa-envelope fa-3x d-block mb-3"></i>
                                contacto@medismart.live

                            </a>
                        </div>
                        @*
                            <div class="col text-center">
                                <a href="#">
                                    <i class="fab fa-facebook fa-3x d-block mb-3"></i>
                                    /Medismartchile
                                </a>
                            </div>
                            <div class="col text-center">
                                <a href="#">
                                    <i class="fab fa-instagram fa-3x d-block mb-3"></i>
                                  /Medismartchile

                                </a>
                            </div>
                        *@

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary btn-sm"
                        data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end. Modal Contacto-->
<!-- Modal Juego -->
<div class="modal fade"
     id="modal-juego"
     tabindex="-1"
     aria-labelledby="modal-juego"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <span class="btn-revista btn-volver-media d-none" id="btnVolverJuego">
                        <i class="fal fa-long-arrow-left"></i>
                    </span>
                    Medismart / Juegos
                </h5>
                <button type="button"
                        class="close btn-cerrar-modal"
                        
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="" id="contJuegos">

                    <div class="container-fluid">
                        <div class="row mb-4">
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j4" data-url="https://phoboslab.org/xtype/">
                                    <div class="body-revista">
                                        <img src="https://tutorialzine.com/media/2015/01/xtype.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        X-Type
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j5" data-url="https://js13kgames.com/games/stolen-sword/index.html">
                                    <div class="body-revista">
                                        <img src="https://js13kgames.com/games/stolen-sword/__big.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Stolen Sword
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j6" data-url="https://js13kgames.com/games/the-legend-of-yeti-404/index.html">
                                    <div class="body-revista">
                                        <img src="https://js13kgames.com/games/the-legend-of-yeti-404/__big.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        The Legend of Yeti-404
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row mb-4">
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">

                                <div class="juego" id="j1" data-url="https://js13kgames.com/games/onoff/index.html">
                                    <div class="body-revista">
                                        <img src="~/img/juegos/j1.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        OnOff
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j2" data-url="https://js13kgames.com/games/everyones-sky/index.html">
                                    <div class="body-revista">
                                        <img src="~/img/juegos/j2.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Everyone's sky
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j3" data-url="https://js13kgames.com/games/ninja-vs-evilcorp/index.html">
                                    <div class="body-revista">
                                        <img src="~/img/juegos/j3.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Ninja vs EvilCorp
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j7" data-url="https://ellisonleao.github.io/clumsy-bird/">
                                    <div class="body-revista">
                                        <img src="~/img/juegos/j7.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Clumsy Bird
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j8" data-url="https://pacman.js.org/">
                                    <div class="body-revista">
                                        <img src="~/img/juegos/j8.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Pac Man
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 mb-4 mb-lg-0">
                                <div class="juego" id="j9" data-url="https://games.coolgames.com/tetris-lottery/en/3.2/index.html?mp_assets=https%3A%2F%2Fs2.minijuegosgratis.com%2F&mp_embed=0&mp_game_id=1189&mp_game_uid=tetris-i1240&mp_game_url=https%3A%2F%2Fwww.minijuegos.com%2Fembed%2Ftetris-i1240&mp_int=1&mp_locale=es_ES&mp_player_type=IFRAME&mp_site_https_url=https%3A%2F%2Fwww.minijuegos.com%2F&mp_site_name=minijuegos.com&mp_site_url=https%3A%2F%2Fwww.minijuegos.com%2F&mp_timezone=America%2FSantiago&mp_view_type=">
                                    <div class="body-revista">
                                        <img src="~/img/juegos/j9.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Tetris
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

                <div class="contenedor-juego">
                    <iframe class="visor-juego d-none" title="vimeo-player" src="" frameborder="0" allowfullscreen id="visorJuego"></iframe>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button"
                        onclick="removeSrcJuego()"
                        class="btn btn-secondary btn-sm"
                        data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end. Juego -->
<!-- Modal revista -->
<div class="modal fade"
     id="modal-revista"
     tabindex="-1"
     aria-labelledby="modal-revista"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="btn-revista btn-volver-media d-none" id="btnVolver">
                        <i class="fal fa-long-arrow-left"></i>
                    </span>
                    @(nombreEmpresa+" / Revistas")
                </h5>
                <button type="button"
                        class="close btn-cerrar-modal"
                        data-dismiss="modal"
                        
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="cont-revistas" id="contRevistas">

                    <div class="container-fluid d-md-none">
                        <div class="row">
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/r1.pdf" target="_blank">
                                            <img src="~/img/revistas/r1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/r2.pdf" target="_blank">
                                            <img src="~/img/revistas/r2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/vogue-385_compr.pdf" target="_blank">
                                            <img src="~/img/revistas/r3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>


                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/142240310-Plantas-Que-Planta-en-que-Lugar_compr.pdf" target="_blank">
                                            <img src="~/img/revistas/r4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/ad-156-compr.pdf" target="_blank">
                                            <img src="~/img/revistas/r5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/glamour-210_compr.pdf" target="_blank">
                                            <img src="~/img/revistas/r6.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/traveler-138_compr.pdf" target="_blank">
                                            <img src="~/img/revistas/r7.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/wired0421.pdf" target="_blank">
                                            <img src="~/img/revistas/r8.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/worl-cup_2018.pdf" target="_blank">
                                            <img src="~/img/revistas/r9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/korra1.pdf" target="_blank">
                                            <img src="~/img/revistas/r10.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista">
                                    <div class="body-revista">
                                        <a href="~/img/revistas/condorito.pdf" target="_blank">
                                            <img src="~/img/revistas/r11.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container-fluid d-none d-md-block">
                        <div class="row">
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb1">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r1.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb2">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r2.png" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb3">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r3.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>


                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb4">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r4.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb5">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r5.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb6">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r6.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb7">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r7.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb8">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r8.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb9">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r9.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb10">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r10.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto mb-4">
                                <div class="revista" id="thumb11">
                                    <div class="body-revista">
                                        <img src="~/img/revistas/r11.jpg" alt="">
                                    </div>
                                    <div class="footer-revista">
                                        Portada Revistas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <div class="contenedor-media" id="">
                    <embed src="" id="visor" type="application/pdf" width="100%" height="700px" class="d-none" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        onclick="removeSrc()"
                        class="btn btn-secondary btn-sm"
                        data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end. Modal revista-->
<!-- Modal videos -->
<div class="modal fade"
     id="modal-videos"
     tabindex="-1"
     aria-labelledby="modal-videos"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    <span class="btn-revista btn-volver-media d-none" id="btnVolverVideo">
                        <i class="fal fa-long-arrow-left"></i>
                    </span>
                    @(nombreEmpresa+" / Videos")
                </h5>
                <button type="button"
                        class="close btn-cerrar-modal"
                        data-dismiss="modal"
                        
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="cont-videos" id="contVideos">
                    @*<div class="video" id="v1">
            <div class="thumb-video">
                <img src="~/img/imgConsalud.jpg" alt="" />
            </div>
            <span class="legend-video">
                Consalud - Orientación Hospitalaria
            </span>
        </div>*@
                    @*<div class="video" id="v1" data-url="https://www.youtube.com/embed/IxRiUAIvsyM?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=http://youtubeembedcode.com">>
            <div class="thumb-video">
                <img src="~/img/imgConsalud.jpg" alt="" />
            </div>
            <span class="legend-video">
                Video Medismart
            </span>
        </div>*@
                    @if (ViewBag.idCliente != "108")
                    {
                        <div class="video" id="v2" data-url="https://player.vimeo.com/video/490880402">
                            <div class="thumb-video">
                                <img src="~/img/videos/video1.jpg" alt="" />
                            </div>
                            <span class="legend-video">
                                Medismart.live - Como Prevenir COVID-19
                            </span>
                        </div>
                        <div class="video" id="v3" data-url="https://player.vimeo.com/video/490880536">
                            <div class="thumb-video">
                                <img src="~/img/videos/video2.jpg" alt="" />
                            </div>
                            <span class="legend-video">
                                Medismart.live - Consejos de Actividad Física
                            </span>
                        </div>
                    }
                </div>

                <div class="contenedor-video contenedor-media">
                    <iframe class="visor-video d-none" title="vimeo-player" src="" frameborder="0" allowfullscreen id="visorVideo"></iframe>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary btn-sm"
                        onclick="removeSrcVideo()"
                        data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end. Modal videos-->
<!-- Modal Validacion -->

<div class="modal fade" id="modal-validacion" tabindex="-1" aria-labelledby="modal-validacion" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-validacion">
                @*<h5 id="mensajeDemanda" style="color: darkcyan; font-size: 1.50rem; text-align-last: center; margin-bottom: 20px;"></h5>*@
                <h4 class="mt-2" id="nombreUsuario"></h4>
                <p style="font-weight:bold" class="mt-3">
                    Para mejorar tu experiencia, necesitamos que actualices tus datos personales.
                </p>

                @*<p style="font-weight:bold">
                        ¿Estos son tus datos de contacto? Por favor modifícalos si lo consideras necesario :
                    </p>*@

                <div class="container-fluid mt-0">

                    <div class="row align-items-center datos-validacion pt-1">
                        <div class="col-11 col-lg-6">
                            <label for="">Correo Electrónico</label>
                            <input type="text" class="form-control" id="correoMedical" required />
                        </div>
                        <div class="col-11 col-sm-6 col-lg pt-lg-0">
                            <label for="">Teléfono</label>
                            <input type="text" class="form-control" id="telefonoMedical" required />
                        </div>
                    </div>
                </div>

                <div class="container-fluid py-2">
                    <div class="row">
                        <div class="col-lg-12" style="font-weight:bold;font-style:italic">
                            * En caso de pérdida de conexión, porfavor vuelve a ingresar desde la sucursal digital o la aplicación.
                        </div>
                        <div class="col-lg-12" style="font-weight:bold;font-style:italic">
                            * Mantente atento en la sala de espera para que NO pierdas tu turno.
                        </div>
                    </div>
                </div>
                <div class="container-fluid py-2">
                    <div class="row">
                        <div class="col" style="font-size: .9rem">

                            <input type="checkbox" id="checkTerminos" />
                            Acepto los  <a style="font-weight: bold" href="http://medical.medismart.live/Terminosycondiciones/TERMINOSYCONDICIONES.pdf" target="_blank">Términos y Condiciones </a> en la prestación de servicios telemédicos y las Políticas de Seguridad de la Información de Medical Solutions.
                        </div>
                    </div>
                    <div class="cont-btns mt-4" style="text-align :right">
                        <button type="button" id="btnConfirmarTerminos" class="btn btn-primary btn-sm btn-validacion">Guardar y Validar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--modal smartcheck -->
<div class="modal fade" id="modalSmartcheck" data-backdrop="true" name="kt_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-smartcheck" role="document">
        <div class="modal-content" style="border-radius: 12px;">
            <div class="modal-body" id="modalBodySmartcheck">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
                <h2>¡Enhorabuena!</h2>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <p id="msj_smartcheck">
                            !Ya tenemos tus resultados de SmartCheck y tus certificados adjuntos, estas listo para reservar tu hora médica!
                        </p>

                    </div>
                    <div class="col-lg-3">
                        <i class="fal fa-check-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">


                        <div class="puntaje-smartcheck">
                            <h5>Smartcheck: Indicador general de salud</h5>
                            <div class="puntaje-smartcheck" style="color: @ViewBag.colorSmartcheck; font-size:50px;"><b>@ViewBag.puntajeSaludSmartcheck</b> / 100</div>
                            <div class="grafico-smartcheck">
                                <div class="form-group">
                                    <div class="divIndicador">&nbsp;</div>
                                    <span class="divCero">0</span><span class="divCien">100</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5><b id="titulo_cant_archivos">Archivos que subiste</b></h5>
                                <hr />
                            </div>
                            <div class="col-lg-12 kt-widget4" id="listaArchivos_smartcheck">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <a data-dismiss="modal" class="form-control btn btn-primary btn-sm" style="color:white; width:50%; margin:0 auto;"> ENTENDIDO </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Validacion -->
<!-- =======end. Modals====== -->
@Html.Hidden("uid", (object)ViewBag.uid)
@Html.Hidden("rol", ViewData["view"])

@section Scripts {
   
    <script src="~/opentok/opentok.min.js"></script>
    <script src="~/signal/signalr.min.js"></script>
    <script type="module">
        import { init } from '../../js/Paciente/sala-espera.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {
            var uid = @ViewBag.uid;
            window.uid = uid;
            var idSesion = '@ViewBag.idSesion';
            window.idSesion = idSesion;
            var canal = '@ViewBag.canal';
            window.canal = canal;
            var idCliente = @ViewBag.idCliente;
            window.idCliente = idCliente;
            var idSmartcheck = @ViewBag.idSmartcheck;
            //var idSmartcheck = '@ViewBag.idSmartcheck' !== '' ? parseInt('@ViewBag.idSmartcheck') : null;
            window.detectSmartcheck = idSmartcheck;
        })()
    </script>
    <script src="~/js/sala.js?rnd=@NumeroRandom.GetRandom()"></script><!-- script sala -->
}

