@using Microsoft.Extensions.Configuration
@model WebMVC.Models.PersonasViewModel
@inject IConfiguration Configuration

@{
ViewData["Title"] = "Configuracion";
Layout = "_LayoutPaciente";
}

@{
ViewData["idEntidad"] = ViewBag.uid;
ViewData["uid"] = int.Parse(ViewBag.uid);
}

@{
ViewData["view"] = Roles.Paciente;
}

@section Styles {
<link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
<link href="~/css/Mexico/mexico.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
<link href="~/css/sura/sura.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid configuracion-paciente">
    @*
    <!-- Spinner -->
    <div class="d-flex justify-content-center bakg_loading">
        <div class="spinner-border" role="status"><span class="sr-only">Un momento por favor...</span></div>
    </div>
    <!-- Spinner -->*@
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>
        <!--End:: App Aside Mobile Toggle-->
        <!--End:: App Aside Mobile Toggle-->
        <div class="ps-home">
            <div class="ps-home-banner"></div>
            <div class="ps-home-content">
                <h2 class="ps-home-header">
                    <span class="ps-home--icon"></span>
                    <span class="ps-home--title">¡Bienvenido al programa @ViewBag.tipoPrograma!</span>
                </h2>
                <div class="ps-home-cta--inscripcion my-3">
                    Te invitamos a inscribirte a nuestro programa de @ViewBag.tipoPrograma, atención interdisciplinaria para tu bienestar.
                </div>
                <div class="ps-home-instrucciones">
                    <div class="row">
                        <div class="col-12 my-4">
                            <img class="ps-home-instrucciones--icon" src="../../img/sura/programa-salud/ps-notes-icon.svg">
                            <span class="ps-home-instrucciones--item"><strong>Completa el cuestionario:</strong> te pediremos completar tu información personal, antecedentes médicos relevantes y detalles sobre tu condición crónica. </span>
                        </div>
                        <div class="col-12 my-4">
                            <img class="ps-home-instrucciones--icon" src="../../img/sura/programa-salud/ps-schedule-icon.svg">
                            <span class="ps-home-instrucciones--item"><strong>Agenda una hora:</strong> la enfermera será quien lleva el proceso y tus necesidades como @ViewBag.tipoPrograma.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="ps-divider"></div>
                <div class="ps-form-check">
                    <input class="ps-form-check--input" type="checkbox" value="" id="checkInscripcionPrograma">
                    <label class="ps-form-check--label" for="flexCheckDefault">
                        * He leído y Acepto los <a id="terminosps" href="#">términos y consentimiento informado</a> del Programa @ViewBag.tipoPrograma.
                    </label>
                </div>
                <hr class="bg-danger border-2 border-top border-danger">
                <button type=button class="btn ps-home--btn mt-2" id="btnInscribir" role="button">Comenzar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTerminosps" data-backdrop="static" name="kt_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Términos y consentimiento informado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
            </div>
            <div class="modal-body" id="modalBody">
                @*terminos y condiciones se cargan de forma dinamica*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnCerrar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/Usuario/config.js?9rnd=@NumeroRandom.GetRandom()" type="module"></script>
<script type="module">
    import { init } from '../../js/ProgramaSalud/home-programa.js?rnd=@NumeroRandom.GetRandom()';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
<script type="text/javascript">
(function() {
    var uid = @ViewBag.uid;
    window.uid = uid;
    var idCliente = '@ViewBag.idCliente';
    window.idCliente = idCliente;
    window.host = '@ViewBag.HostURL';
    window.idProgramaSalud = '@ViewBag.idProgramaSalud';
})()
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
}