@using System.Security.Claims;
@using WebMVC.Models;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - Medical</title>*@

    <base href="">
    <meta charset="utf-8" />
    <title>Medical | Sitio Médicos</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-227236350-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-227236350-1');
    </script>

    <!-- Google Tag Manager -->
    <script>


       

        (function(w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T3GQHL7');</script>
    <!-- End Google Tag Manager -->
    <!-- #region metronic-template -->
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by specific page) -->
    @RenderSection("PageStyles", false)
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/metronic_demo7/assets/plugins/global/plugins.bundle.css?rand=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/metronic_demo7/assets/css/style.bundle.css?rand=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Medismart/resumen-atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    @if (ViewBag.HostURL.ToString().Contains("uoh."))
    {
    <link href="~/css/uoh/uoh.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    }
    @*<link href="~/css/Medismart/main.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />*@
    <!--end::Global Theme Styles -->
    <!-- #endregion -->

    <link rel="shortcut icon" href="~/metronic_demo7/assets/media/logos/logoFavicon.ico" />
    @{

        var userConnect = "";
        

        userConnect = ((ClaimsIdentity)User.Identity).GetSpecificClaim("nameidentifier");
        if (string.IsNullOrEmpty(userConnect))
        {
            userConnect = "-1";
        }

    }
    @RenderSection("Styles", false)
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2677023, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <script>
        var userId = @userConnect // Replace your_user_id with your own if available.
            window.hj('identify', userId, {
                // Add your own custom attributes here. Some EXAMPLES:
                // 'Signed up': '2019—06-20Z', // Signup date in ISO-8601 format.
                // 'Last purchase category': 'Electronics', // Send strings with quotes around them.
                // 'Total purchases': 15, // Send numbers without quotes.
                // 'Last purchase date': '2019-06-20Z', // Send dates in ISO-8601 format.
                // 'Last refund date': null, // Send null when no value exists for a user.
            });
    </script>
    <script src="https://meet.medismart.live/external_api.js" async></script>
    <script type="module" src="https://unpkg.com/nexmo-client@latest/dist/nexmoClient.js?module"></script>
    <script src="~/js/KitAwesome.js"></script>
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3GQHL7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
   

    <!-- End Google Tag Manager (noscript) -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            @if (!ViewBag.HostURL.ToString().Contains("unabactiva.") || !ViewBag.HostURL.ToString().Contains("activa.unab."))
            {
                <a asp-controller="Medico" asp-action="Index">
                    <img alt="Logo" src="~/metronic_demo7/assets/media/logos/logo.png" />
                    @*<img src="~/img/colmena/logo-colmena.png" />*@
                </a>
            }
            else
            {
                <a asp-controller="Medico" asp-action="Index">
                    <img alt="Logo" src="~/img/unab/isotipo.png" />
                    @*<img src="~/img/colmena/logo-colmena.png" />*@
                </a>
            }

        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->

    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                <!-- begin:: Brand -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">

                        @if (ViewBag.HostURL.ToString().Contains("unabactiva.") || ViewBag.HostURL.ToString().Contains("activa.unab."))
                        {
                            <a asp-controller="Medico" asp-action="Index">
                                <img alt="Logo" src="~/img/unab/isotipo.png" />
                            </a>
                        }
                        else if (ViewBag.HostURL.ToString().Contains("uoh."))
                        {
                            <a asp-controller="Medico" asp-action="Index">
                                <img alt="Logo" src="~/img/UOH/logo-uoh.png" />
                                @*<img src="~/img/colmena/logo-colmena.png" />*@
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Medico" asp-action="Index">
                                <img alt="Logo" src="~/metronic_demo7/assets/media/logos/logo.png" />
                                @*<img src="~/img/colmena/logo-colmena.png" />*@
                            </a>
                        }
                    </div>
                </div>

                @{
                    var hiddenUnab = "";
                    if (ViewBag.HostURL.ToString().Contains("unabactiva.") || ViewBag.HostURL.ToString().Contains("activa.unab."))
                    {
                        hiddenUnab = "hidden";
                    }

                    var hiddenUoh = "";
                    if (ViewBag.HostURL.ToString().Contains("uoh."))
                    {
                        hiddenUoh = "hidden";
                    }
                    var hiddenMenu = "";
                    if(ViewBag.HostURL.ToString().Contains("achs.")){
                        hiddenMenu = "hidden";
                    }
                }
                <!-- end:: Brand -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
                        <ul class="kt-menu__nav ">
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here" style="text-align: center">
                                <a asp-controller="Medico" asp-action="Index" class="kt-menu__link">
                                    <i class="kt-menu__link-icon flaticon2-protection"></i>
                                </a>
                                <span>Atención con Agenda</span>
                            </li>
                            <li><br></li>
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here" style="text-align: center" @hiddenUnab @hiddenUoh @hiddenMenu>
                                <a asp-controller="Medico" asp-action="HomeUrgencia" class="kt-menu__link">
                                    <i class="kt-menu__link-icon flaticon2-hospital" style="color:red"></i>
                                </a>
                                <span>Atención Inmediata</span>
                            </li>
                            <li><br></li>
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here" style="text-align: center">
                                <a asp-controller="Medico" asp-action="Configuracion" class="kt-menu__link">
                                    <i class="kt-menu__link-icon flaticon2-settings"></i>
                                </a>
                                <span>Mi perfil</span>
                            </li>
                            <li><br></li>
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here" style="text-align: center" @hiddenUnab>
                                <a asp-controller="Medico" asp-action="ListaAtencionPaciente" class="kt-menu__link">
                                    <i class="kt-menu__link-icon flaticon-search"></i>
                                </a>
                                <span>Historial Atenciones</span>
                            </li>
                            <li><br></li>
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here" style="text-align: center" @hiddenUnab @hiddenUoh @hiddenMenu>
                                <a asp-controller="Medico" asp-action="ReporteEnfermeria" class="kt-menu__link">
                                    <i class="kt-menu__link-icon fa fa-2x fa-user-nurse"></i>
                                </a>
                                <span>Reporte Enfermería</span>
                            </li>
                            <li><br></li>
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here" style="text-align: center">
                                <a asp-controller="Account" asp-action="Logout" asp-route-rol="Medico" class="mega-menu" data-close="true"><i class="kt-menu__link-icon flaticon2-cross"></i></a>
                                <span>Salir</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end:: Aside Menu -->

            </div>
            <div class="kt-aside-menu-overlay"></div>

            <div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed ">

                <!-- begin: Header Menu -->
                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
                        <ul class="kt-menu__nav ">
                            <li class="kt-menu__item  kt-menu__item--active " aria-haspopup="true">
                                <h5 id="nombreCompleto"></h5>
                                <div style="display:inline">
                                    <h5 id="page"></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- end: Header Menu -->
                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar">
                </div>

                <!-- end:: Header Topbar -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    @*begin:: Subheader*@
                    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                        <div class="kt-container  kt-container--fluid ">
                            <div class="kt-subheader__main">
                                <h3 class="kt-subheader__title">
                                    <button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>
                                </h3>
                            </div>
                        </div>
                    </div>
                    @RenderBody()

                    <!-- begin::Scrolltop -->
                    <div id="kt_scrolltop" class="kt-scrolltop">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                    <!-- end::Scrolltop -->

                </div>
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2020&nbsp;&copy;&nbsp;<a href="#" target="_blank" class="kt-link">Medical</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- #region metronic-template -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "span": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->

    <script src="~/metronic_demo7/assets/plugins/global/plugins.bundle.js?rand=@NumeroRandom.GetRandom()" type="text/javascript"></script>
    <script src="~/metronic_demo7/assets/js/scripts.bundle.js?rand=@NumeroRandom.GetRandom()" type="text/javascript"></script>
    <script src="~/js/inputmask.min.js?rand=@NumeroRandom.GetRandom()"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by specific page) -->
    <script src="~/js/modal.js"></script>
    @RenderSection("PageScripts", false)
    <!--end::Page Scripts -->
    <!-- #endregion -->
    @RenderSection("Scripts", false)
    @{
        var auth = "";
        var idCliente = ((ClaimsIdentity)User.Identity).GetSpecificClaim("primarysid");
        auth = ((ClaimsIdentity)User.Identity).GetSpecificClaim("authentication");
        if (string.IsNullOrEmpty(auth))
        {
            auth = "-1";
        }
    }

    <script src="~/js/Shared/layout.js?rand=@NumeroRandom.GetRandom()"></script>
    <script type="module">
        import { init } from '../../js/Shared/layout-medico.js?rnd=${@NumeroRandom.GetRandom()}';
        init()
    </script>
    <script type="text/javascript">
        (function() {
            var auth = "@auth";
            window.auth = auth;
            var idCliente = @idCliente;
            window.idCliente = idCliente;

        })()
    </script>

</body>
</html>