@using System.Security.Claims
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <base href="">
    <meta charset="utf-8" />
    <title>Medical | Sitio Admin</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-227236350-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-227236350-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T3GQHL7');</script>
    <!-- End Google Tag Manager -->
    <!-- #region metronic-template -->
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by specific page) -->
    @RenderSection("PageStyles", false)
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/metronic_demo7/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic_demo7/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic_demo7/assets/plugins/cropper/main.css" rel="stylesheet" />
    <link href="~/metronic_demo7/assets/plugins/cropper/cropper.css" rel="stylesheet" />
    <!--end::Global Theme Styles -->
    <!-- #endregion -->

    <link rel="shortcut icon" href="~/metronic_demo7/assets/media/logos/favicon.ico" />

    @RenderSection("Styles", false)
 
    @{
        var userConnect2 = "";
        userConnect2 = ((ClaimsIdentity)User.Identity).GetSpecificClaim("json");

           
    }

</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3GQHL7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a asp-controller="AdminCentroClinico" asp-action="Index">
                <img alt="Logo" src="~/metronic_demo7/assets/media/logos/logo.png" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->

    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                <!-- begin:: Brand -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        @if (ViewBag.HostURL.ToString().Contains("unabactiva.") || ViewBag.HostURL.ToString().Contains("activa.unab."))
                        {
                            <a asp-controller="AdminCentroClinico" asp-action="Index">
                                <img alt="Logo" src="~/img/unab/isotipo.png" />
                            </a>
                        }
                        else if (ViewBag.HostURL.ToString().Contains("uoh."))
                        {
                            <a asp-controller="AdminCentroClinico" asp-action="Index">
                                <img alt="Logo" src="~/img/UOH/logo-uoh.png" />
                            </a>
                        }
                        else
                        {
                            <a asp-controller="AdminCentroClinico" asp-action="Index">
                                <img alt="Logo" src="~/metronic_demo7/assets/media/logos/logo.png" />
                            </a>
                        }
                    </div>
                </div>
                @{
                    var hiddenLayout = "";
                    @if (ViewBag.HostURL.ToString().Contains("positivamente."))
                    {
                        hiddenLayout = "hidden";
                    }
                }
                <!-- end:: Brand -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
                        <ul class="kt-menu__nav ">
                           
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here mb-4" style="text-align: center" @hiddenLayout>
                                  <a asp-controller="AdminCentroClinico" asp-action="VerAgendasCentroClinico" class="kt-menu__link"> 
                                   <i class="kt-menu__link-icon flaticon2-schedule"></i>
                                </a>
                                <span>Crear Agenda</span>
                            </li>
                           

                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here mb-4" style="text-align: center" @hiddenLayout>
                                <a asp-controller="AdminCentroClinico" asp-action="ListaProfesionales" class="kt-menu__link">
                                    <i class="kt-menu__link-icon flaticon2-user-1"></i>
                                </a>
                                <span>Profesionales</span>
                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here mb-4" style="text-align: center">
                                <a asp-controller="AdminCentroClinico" asp-action="ListaPacientesCentroClinico" class="kt-menu__link">
                                    <i class="kt-menu__link-icon flaticon2-user"></i>
                                </a>
                                <span>Pacientes</span>
                            </li>
                            @if(ViewBag.HostURL.ToString().Contains("unabactiva.") || ViewBag.HostURL.ToString().Contains("activa.unab.")){
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here mb-4" style="text-align: center">
                                    <a asp-controller="AdminCentroClinico" asp-action="CargarProfesionales" class="kt-menu__link">
                                        <i class="kt-menu__link-icon flaticon2-user"></i>
                                    </a>
                                    <span>Carga de Profesionales</span>
                                </li>
                            }
                            

                            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--submenu-fullheight kt-menu__item--open kt-menu__item--here mb-4" style="text-align: center">

                                <a asp-controller="CentroClinico" asp-action="Logout" asp-route-rol="AdministradorCentro" class="mega-menu" data-close="true"><i class="kt-menu__link-icon flaticon2-cross"></i></a>

                                <span>Salir</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end:: Aside Menu -->

            </div>
            <div class="kt-aside-menu-overlay"></div>
            <div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed ">

                <!-- begin: Header Menu -->
                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
                        <ul class="kt-menu__nav ">
                            <li class="kt-menu__item  kt-menu__item--active " aria-haspopup="true">
                                <h5 id="nombreCompleto"></h5>
                                <h5 id="page"></h5>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- end: Header Menu -->
                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar">

                </div>

                <!-- end:: Header Topbar -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    @*begin:: Subheader*@
                    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                        <div class="kt-container  kt-container--fluid ">
                            <div class="kt-subheader__main">
                                <h3 class="kt-subheader__title">
                                    <button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>
                                </h3>
                            </div>
                        </div>
                    </div>
                    @RenderBody()

                    <!-- begin::Scrolltop -->
                    <div id="kt_scrolltop" class="kt-scrolltop">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                    <!-- end::Scrolltop -->

                </div>
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2020&nbsp;&copy;&nbsp;<a href="#" target="_blank" class="kt-link">Medical</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- begin::Scrolltop -->
            <div id="kt_scrolltop" class="kt-scrolltop">
                <i class="fa fa-arrow-up"></i>
            </div>
            <!-- end::Scrolltop -->

        </div>
    </div>

    <!-- #region metronic-template -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "span": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/metronic_demo7/assets/plugins/global/plugins.bundle.js?rand=@NumeroRandom.GetRandom()" type="text/javascript"></script>
    <script src="~/metronic_demo7/assets/js/scripts.bundle.js?rand=@NumeroRandom.GetRandom()" type="text/javascript"></script>
    <script src="~/js/inputmask.min.js?rand=@NumeroRandom.GetRandom()"></script>
    <script src="~/js/jquery.rut.js?rand=@NumeroRandom.GetRandom()"></script>

    <script src="~/metronic_demo7/assets/plugins/cropper/cropper.min.js?rand=@NumeroRandom.GetRandom()"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by specific page) -->
    @RenderSection("PageScripts", false)
    <!--end::Page Scripts -->
    <!-- #endregion -->

    <script src="~/js/Shared/layout.js?rand=@NumeroRandom.GetRandom()"></script>
    @RenderSection("Scripts", required: false)

    @{

     var identity = (ClaimsIdentity)User.Identity;
     var role = identity.FindFirst(ClaimTypes.System).Value;

    var auth = "";
    auth = ((ClaimsIdentity)User.Identity).GetSpecificClaim("authentication");
        if (string.IsNullOrEmpty(auth))
        {
            auth = "-1";
        }

   
    }
    <script type="text/javascript">
        (function () {
            var auth = "@auth";
            window.auth = auth;   
            var IdPersona = '@ViewBag.IdPersona';
            window.IdPersona = IdPersona;
            var idCentroClinico = '@ViewBag.idCentroClinico';
            window.idCentroClinico = idCentroClinico;
            var IdEmpresa = '@ViewBag.IdEmpresa';
            window.IdEmpresa = IdEmpresa;
            var CodigoConvenio = '@ViewBag.CodigoConvenio';
            window.CodigoConvenio = CodigoConvenio;
           var idConvenio = '@ViewBag.idConvenio';
            window.idConvenio = idConvenio;
             var UserId = '@ViewBag.UserId';
            window.UserId = UserId;
     })()
    </script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });


        $('.datepickerYear').datepicker({
            format: " yyyy", // Notice the Extra space at the beginning
            viewMode: "years",
            minViewMode: "years",
            altField: "dd/mm/yyyy"
        });
    </script>
</body>
</html>